:root {
  --background-clr: #f6f8fa;
  --link-clr: #7c859a;
  --text-clr: #141214;
  --darker-link-clr: #9da5aa;
  --features-purple-clr: #3f2fae;
  --features-blue-clr: #32589f;
  --link-hover-clr-1: #c55841;
  --link-hover-clr-2: #f78657;
  --button-clr: #5292bf;
  --border-bottom: 1.3px solid  var(--link-hover-clr-1);
  --heading-border-bottom: 1.3px solid #040b16;
  --font-family: 'Alegreya', serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-size: 0.625rem;
  font-family: var(--font-family);
  overflow-x: hidden;
  display: flex;
  min-height: 100%;
  flex-direction: column; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.nav,
.other-page-navbar {
  --logo-clr: #fefeff;
  --login-clr: #dfe4eb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0 0.9rem; }
  .nav_list,
  .other-page-navbar_list {
    display: flex; }
    .nav_list--items,
    .other-page-navbar_list--items {
      cursor: pointer; }
      .nav_list--items:nth-child(2),
      .other-page-navbar_list--items:nth-child(2) {
        margin-left: auto;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
      .nav_list--items:nth-child(3),
      .other-page-navbar_list--items:nth-child(3) {
        margin: 0.4rem 0.4rem 0.4rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease; }

.other-page-navbar {
  background: #07080f;
  margin-bottom: 2rem; }

.nav-scrolled {
  --logo-clr: #c4e4c9;
  --login-clr: #b0b7d6;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  background: #07080f; }

.footer {
  margin-top: auto;
  color: #fff;
  padding: 2rem 1rem;
  background-color: #2e2e34; }
  .footer-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-gap: 1rem;
    margin-bottom: 1.5rem; }
  .footer-list:nth-of-type(1) {
    align-self: start; }
  .footer-items {
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.8rem; }
  .footer-disclaimer {
    display: block;
    margin: 0 0;
    width: 100%;
    position: relative;
    line-height: 1.4;
    font-size: .7rem;
    letter-spacing: 1.1px;
    color: #c1ccc9; }
    .footer-disclaimer .disclaimer {
      font-size: .8rem;
      letter-spacing: 1.1px;
      color: #f1e8e7; }
    .footer-disclaimer::before {
      position: absolute;
      content: '';
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 2px;
      border-radius: 20px;
      background-color: #d2eede; }
  .footer-ack {
    text-align: center;
    color: #fff;
    background: #060506;
    padding: 0.6rem; }

.nav-logo {
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  color: var(--logo-clr); }

.login {
  font-size: 1.1rem;
  color: var(--login-clr);
  letter-spacing: 1px; }

.join {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1rem;
  background: #e3662a;
  color: #fff;
  border-radius: 22px;
  padding: 0.2rem 0.8rem; }
  .join:hover {
    color: #e3662a;
    background: #fff; }

.footer-links {
  font-size: 1rem;
  color: #c6c8c9; }
  .footer-links:hover {
    outline: 3px dotted var(--link-hover-clr-1);
    outline-offset: 7px; }
  .footer-links-logo {
    font-size: 2rem;
    color: #c4e4c9;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Source Serif Pro'; }

.footer-list-heading {
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: var(--border-bottom); }

.footer-ack {
  text-align: center;
  color: #fff;
  background: #060506;
  padding: 0.6rem;
  font-size: 0.9rem;
  font-family: 'Source Serif Pro', serif; }

.hero__text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.hero_heading {
  font-family: 'Source Serif Pro', serif;
  font-size: 3rem;
  color: #e9eaf6;
  letter-spacing: 1px;
  line-height: 1.4; }

.hero_desc {
  font-family: 'Lobster';
  font-size: 2.3rem;
  letter-spacing: 1px;
  max-width: 650px;
  color: #ece1d7; }

.les_lor-heading {
  color: #e1f9f7;
  font-family: 'Source Serif Pro', Sans-serif; }

.primary_heading {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: #000205;
  border-bottom: var(--border-bottom);
  display: inline-block; }

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1c0808;
  border-bottom: var(--heading-border-bottom);
  margin-bottom: 1.2rem;
  font-weight: bolder;
  display: inline-block; }

.services-heading {
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #0d0e13;
  letter-spacing: 1.1px;
  transition: transform 0.5s ease;
  transform-origin: right; }
  .services-heading::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    border-bottom: var(--border-bottom);
    transform: scale(0);
    transform-origin: left; }

.services-desc {
  margin-bottom: 0.6rem;
  color: #403e49;
  display: inline-block;
  font-weight: 400;
  margin: 1rem auto 0;
  width: 300px;
  font-size: 0.9rem;
  word-wrap: wrap;
  line-height: 1.7; }

.space-name {
  font-family: 'Source Serif Pro', Sans-Serif;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 1rem 0;
  color: #050303;
  display: inline-block;
  border-bottom: var(--border-bottom); }

.space-desc {
  font-size: 1.2rem;
  width: 80%;
  margin: 0.4rem auto;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #170d06;
  padding: 0.7rem 0.3rem;
  flex-wrap: wrap; }

.price {
  font-size: 1.2rem;
  color: #c6390d;
  transform: translateY(-0.6rem); }

.address,
.rooms {
  position: relative;
  top: -.4rem;
  left: 0.2rem;
  font-size: 1.2rem;
  color: #140804; }

.address {
  font-size: 1.1rem; }

.cost {
  position: relative;
  font-size: 1.2rem;
  color: #140804; }

.reviewer_name {
  font-size: 1.2rem;
  color: #080e0c;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Poppins', serif;
  display: inline-block; }

.reviewer_city {
  display: block;
  font-family: 'Poppins', serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #91a899;
  font-size: 1.1rem;
  text-transform: uppercase; }

.reviewer_text {
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000; }

.option-detail {
  font-size: 1.2rem;
  color: #ddf6ee; }

.room-det {
  margin-left: .4rem; }

.lessor-form-heading {
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins";
  color: #f24539;
  text-align: center;
  border-bottom: 1px dotted #0c1d22;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 600px) {
    .lessor-form-heading {
      margin-top: 2rem; } }

.section-heading {
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: 'Poppins', serif;
  color: #f16a64; }

.space-type-label {
  font-size: .8rem;
  font-family: 'Poppins', serif;
  position: relative;
  top: -2px;
  margin-left: .4rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.text-hint {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #3c4244; }

.space-desc {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #000000;
  border: 1px solid #0e0911;
  font-family: 'Source Serif Pro', serif; }
  .space-desc::placeholder {
    font-size: .9rem;
    color: #96a193; }
  .space-desc:focus {
    outline: none;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3); }

.holder-item {
  font-size: .8rem;
  font-family: 'Source Serif Pro', serif;
  color: #5b5d5b;
  letter-spacing: 1px; }

.holder-item + .holder-item {
  margin-top: .3rem; }

.photo-size {
  position: relative;
  top: .8rem;
  font-size: .8rem;
  letter-spacing: 1.1px;
  font-family: 'Source Serif Pro', serif;
  color: #9991a1; }

.preview-img {
  font-size: 1rem;
  font-family: 'Source Serif Pro', serif;
  color: #9c9f93;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.mt--lg {
  margin-top: 2.5rem; }

.mt--md {
  margin-top: 1.5rem; }

.mt--sm {
  margin-top: .5rem; }

.mb--lg {
  margin-bottom: 2.5rem; }

.mb--md {
  margin-bottom: 1.5rem; }

.mb--sm {
  margin-bottom: .5rem; }

.view-deal {
  padding: .5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
  background: #139c9c;
  color: #fff;
  border: none;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: .9rem;
  letter-spacing: 1px; }
  .view-deal:hover {
    background: #095b5b; }

.show-more {
  background-color: #16213c;
  border: none;
  padding: .7rem .9rem;
  margin: 1rem 0;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center; }
  .show-more:hover {
    background-color: #080d1a; }
    .show-more:hover .icon {
      opacity: 1;
      visibility: visible;
      transform: scale(1); }
    .show-more:hover .text {
      transform: translateX(0); }
  .show-more:focus {
    outline: 2px solid var(--link-hover-clr-1);
    outline-offset: 3px; }
  .show-more .icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    fill: #fff;
    opacity: 0;
    visibility: hidden; }
    .show-more .icon-home {
      transition: transform .2s ease, opacity .4s ease;
      opacity: 0;
      visibility: hidden;
      transform: translateY(0.1rem) scale(0);
      transform-origin: bottom;
      margin-left: .2rem; }

.text {
  transition: transform .2s ease;
  display: inline-block;
  transform: translateX(0.6rem);
  border: none;
  font-size: 1rem;
  text-transform: CamelCase;
  letter-spacing: 1px;
  margin-left: .2rem;
  color: #f4eaf3; }

.load-btn {
  padding: .5rem 1.3rem;
  border: none;
  background: #0b82a3;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: transform .2s ease-in;
  cursor: pointer; }
  .load-btn:hover, .load-btn:focus {
    outline: 5px dashed var(--link-hover-clr-1);
    outline-offset: 10px; }

.trans-btn {
  position: absolute;
  top: 50%;
  z-index: 6;
  transform: translateY(-50%);
  display: inline-block;
  background: black;
  opacity: 0.6;
  padding: 1.3rem .5rem;
  cursor: pointer; }

.icon {
  display: inline-block;
  font-size: 48px;
  color: #eee;
  filter: brightness(100%); }

.prev-btn {
  left: 0; }
  .prev-btn:hover .icon-arrow-left {
    color: #fff;
    filter: brightness(250%); }

.cmnt-btn .icon {
  font-size: 35px; }

.next-btn {
  right: 0; }
  .next-btn:hover .icon-arrow-right {
    color: #fff;
    filter: brightness(250%); }

@media only screen and (max-width: 800px) {
  .cmnt-btn {
    padding: 1rem .2rem; }
    .cmnt-btn .icon {
      font-size: 20px; } }

.togglebtn {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  margin-top: .8rem;
  margin-left: .9rem;
  margin-right: 1rem;
  display: none;
  pointer-events: none;
  cursor: pointer; }
  .togglebtn .icon {
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    padding: .2rem;
    fill: #7c6e6e;
    border: 1px solid #cfc6ce; }

.remove-btn {
  margin-right: .4rem;
  background-color: transparent;
  border: 1px solid #d62828;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  color: #d62828;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: .7;
  cursor: pointer; }
  .remove-btn:hover {
    opacity: 1; }
  .remove-btn:focus {
    outline: none; }

.search-submit-btn {
  background-color: #edf2ec;
  border: none;
  border: 1px solid #dad6f2;
  cursor: pointer;
  transition: transform .2s ease;
  transform: scale(0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }
  .search-submit-btn .icon {
    padding: .1rem .2rem;
    width: 1.7rem;
    height: 1.7rem; }
    .search-submit-btn .icon-search {
      fill: #8f8c9e; }
  .search-submit-btn:hover, .search-submit-btn:focus {
    box-shadow: none; }

.upload-btn {
  position: absolute;
  top: 59%;
  right: 1rem;
  padding: .5rem;
  text-align: center;
  border: none;
  background: #eb0c0c;
  color: #f0f2f7;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer; }
  .upload-btn .add {
    margin-right: .3rem;
    font-size: 1rem;
    font-weight: bold; }
  .upload-btn .upload-text {
    font-size: .8rem; }
  .upload-btn:hover {
    background: #d70012; }

@media only screen and (max-width: 650px) {
  .upload-btn {
    bottom: 0;
    left: 0;
    margin-top: 3rem;
    padding: .9rem;
    margin-left: .9rem; } }

.file-input {
  display: none; }

.overlay-img-button {
  margin-top: .55rem;
  padding: .3rem .9rem;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background: #d4a821;
  color: #fff;
  font-size: .8rem;
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 1px;
  border: none;
  cursor: pointer; }
  .overlay-img-button:hover {
    background: #a68611; }

.sub-btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: .4rem;
  text-align: center;
  border: none;
  background-color: #f24539;
  color: #fff;
  font-size: 1.1rem;
  text-transform: uppercase;
  cursor: pointer; }
  .sub-btn:hover {
    background-color: #9a1010; }
  .sub-btn:focus {
    outline: 4px dotted #dd3232;
    outline-offset: 3px; }

.hover-link {
  position: relative; }
  .hover-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1.3px solid var(--link-hover-clr-1);
    transform: scale(0);
    transition: transform .3s ease-in-out;
    transform-origin: right; }
  .hover-link:hover::after {
    transform: scale(1);
    transform-origin: left; }

.checkbox {
  display: flex;
  align-items: center; }
  .checkbox__ctrl {
    display: inline-grid;
    border: 1px solid #6b736a;
    width: 1rem;
    height: 1rem;
    border-radius: 2px; }
    .checkbox__ctrl svg {
      width: 1rem;
      height: 1rem;
      transition: transform .1s ease;
      transform: scale(0);
      transform-origin: bottom left; }
  .checkbox__input {
    display: grid;
    grid-template-areas: "checkbox"; }
    .checkbox__input * > {
      grid-area: checkbox; }
    .checkbox__input input {
      opacity: 0;
      width: 1rem;
      height: 1rem; }
      .checkbox__input input:focus .checkbox__ctrl {
        box-shadow: 0 0 0 .05em #f5f8fa, 0 0 .15em .1em #df7b46; }
      .checkbox__input input:checked .checkbox__ctrl svg {
        transform: scale(1); }
  .checkbox__label {
    margin-left: .3rem;
    margin-bottom: -.9rem;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #6f7083; }
    .checkbox__label:hover {
      color: #0f0c11; }

.lessor-form-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); }

@media only screen and (min-width: 1000px) {
  .form-bg .svg-bg {
    max-width: 80%;
    max-height: 80%; } }

:root {
  --sidebar-width: 15rem;
  --sidebar-container: var(--sidebar-width); }

.grid-container {
  display: grid;
  grid-template-columns: var(--sidebar-container) 1fr 1fr;
  grid-template-rows: 8rem auto;
  grid-template-areas: " search search search" "sidebar main main" "sidebar main main"; }

.search-area {
  grid-area: search;
  position: relative; }

.highlighted {
  border: none;
  padding-top: .1rem;
  outline: 3px dashed var(--link-hover-clr-1);
  outline-offset: 3px; }

.sidebar-container {
  grid-area: sidebar;
  position: relative; }

.sidebar-sidebar {
  background-color: #e6eeee;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15rem;
  z-index: 50;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: minmax(60px, min-content) repeat(4, minmax(170px, min-content));
  grid-gap: 1rem;
  grid-template-areas: "selection" "city" "room-config" "rent";
  align-items: center; }
  .sidebar-sidebar .selection-cont {
    position: relative;
    grid-area: selection; }
  .sidebar-sidebar .cities-cont {
    grid-area: city; }
  .sidebar-sidebar .room-config {
    grid-area: room-config; }
  .sidebar-sidebar .rates-cont {
    grid-area: rent; }

.main-content-container {
  background-color: rgba(230, 238, 238, 0.5);
  grid-area: main;
  margin-left: .6rem;
  margin-bottom: .6rem; }
  @media only screen and (max-width: 650px) {
    .main-content-container {
      margin-top: 2.7rem; } }

@media only screen and (max-width: 1000px) {
  :root {
    --sidebar-container: 0; }
  .search-area .togglebtn {
    display: inline-block;
    pointer-events: auto; }
  .grid-items {
    transition: transform 0.4s cubic-bezier(0.69, 0.47, 0.66, 0.9); }
  .sidebar-sidebar {
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0.3, 0.7, 0.68, 1.07);
    opacity: 0;
    visibility: hidden; }
  .sidebar-sidebar.show {
    transform: translateX(0);
    opacity: 1;
    visibility: visible; } }

.container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative; }

.hero {
  position: relative; }

.sliders {
  height: 100vh;
  position: relative; }

.slide {
  height: 100%;
  position: relative;
  background-blend-mode: multiply;
  transition: transform .4s ease-in-out; }
  .slide-1 {
    background: #8a9491 url("../images/houses/hero.jpg");
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat; }
  .slide-2 {
    background: #bbb url("../images/houses/hero-lor.jpg");
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat; }
  .slide-3 {
    background: #bbb url("../images/houses/hero-less.jpg");
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat; }

.services {
  padding: 2rem 0 0;
  text-align: center; }
  .services_lessor {
    padding: 2rem 0; }
  .services_lessee {
    padding: 2rem 0; }
  .services .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); }
  .services-customer {
    border: 1px solid #c2b8c1;
    margin: 0 0.7rem 0.6rem;
    padding: 0.6rem;
    cursor: pointer; }
    .services-customer:hover {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); }
      .services-customer:hover .services-heading::after {
        transform: scale(1); }
  .services .icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.3rem 0;
    stroke: currentColor;
    fill: white; }
    .services .icon-bullseye {
      background-color: #df1e2d; }
    .services .icon-gps_not_fixed {
      background-color: #dec236; }
    .services .icon-comments {
      background-color: #5bdfb4; }
    .services .icon-thumbs-up {
      background-color: #dd6d33; }
    .services .icon-user {
      background-color: #42d2be; }
    .services .icon-handshake-o {
      background-color: #ee87d3; }
    .services .icon-home {
      background-color: #306fd7; }
    .services .icon-profile {
      background: #8d9a7c;
      fill: #d9e7c9; }

.faded {
  opacity: 0;
  transition: opacity .3s ease-in; }

.faded.appear {
  opacity: 1; }

.sample-space {
  padding: 0.2rem;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.25); }

.space-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: space-between; }

.space-desc-cont {
  background-color: #fff; }

.space-feat-cont {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  justify-content: space-between;
  border: 1px solid #170d1d;
  padding: 0.4rem;
  grid-gap: 0.2rem;
  text-align: center; }

.space-feat .icon {
  width: 1.5rem;
  height: 1.5rem; }
  .space-feat .icon-map-marker {
    fill: #db7932; }
  .space-feat .icon-hash {
    fill: #db7932; }
  .space-feat .icon-tag {
    width: 0.8rem;
    height: 0.8rem;
    transform: translateX(-4.1rem) translateY(0.4rem);
    fill: #829d8c; }
  .space-feat .icon-rupees-symb {
    width: 0.7rem;
    height: 0.7rem;
    fill: #829d8c; }

.space-img-cont {
  position: relative;
  display: flex; }

.space-img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); }

.space-intro {
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #c1c1c1;
  background-color: #fff;
  width: 160px;
  height: 46px;
  z-index: 26; }
  @media only screen and (max-width: 1000px) and (min-width: 590px) {
    .space-intro {
      left: calc(12.8vw); } }
  @media only screen and (min-width: 1200px) {
    .space-intro {
      left: 4.4rem; } }

.txtLeft {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.txtRight {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.imgRight {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.imgLeft {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.from-left {
  transform: translateX(-50%); }

.from-right {
  transform: translateX(50%); }

.from-left,
.from-right {
  transition: opacity .3s ease-in, transform .4s ease-in;
  opacity: 0;
  transform: translateX(0); }

.from-left.appear,
.from-right.appear {
  opacity: 1; }

@media only screen and (max-width: 1000px) {
  .imgRight,
  .imgLeft {
    grid-column: 1 / 3;
    grid-row: 1 / 2; }
  .txtRight,
  .txtLeft {
    grid-column: 1 / 3;
    grid-row: 2 / 3; } }

.reviews {
  background: #fff;
  position: relative;
  height: 78vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.review {
  border: 1px solid #bebcb8;
  top: -3rem;
  position: relative;
  background: #fff;
  width: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.1rem .2rem .8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }

.reviewer-img-Cont {
  width: 100px;
  height: 100px;
  margin: -1rem auto .4rem;
  border: 3px solid #eee;
  border-radius: 50%;
  position: relative; }
  .reviewer-img-Cont .icon {
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
    background: #18b53b; }
    .reviewer-img-Cont .icon-quotes-left {
      width: 1.7rem;
      height: 1.7rem;
      padding: 0.2rem;
      fill: #fff; }

.reviewer-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; }

.reviewer-desc {
  margin-top: 0rem; }

.search-content {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translateX(-50%) translateY(4%); }

.search-form {
  display: flex;
  margin-top: .15rem; }

.search-input {
  width: 58vw;
  max-width: 620px;
  padding: .3rem;
  color: #110e05;
  font-size: 1.2rem;
  margin-right: .6rem;
  border: 1px solid grey; }
  .search-input::placeholder {
    font-size: .9rem;
    letter-spacing: 1px;
    color: #666; }
  .search-input:focus {
    border: 1px solid #bbb;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
  .search-input:invalid {
    border: none;
    border-bottom: 2px solid #b6160e; }

.main-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 2rem; }
  .main-content-items {
    position: relative;
    height: 285px;
    border: 1px solid black;
    background-size: cover;
    overflow: hidden; }
    .main-content-items:hover .overlay-cont {
      transform: translateY(0); }
  .main-content .item-1 {
    background-image: url("../images/option-houses/house-1.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; }
  .main-content .item-2 {
    background-image: url("../images/option-houses/house-2.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; }
  .main-content .item-3 {
    background-image: url("../images/option-houses/house-3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .main-content .item-4 {
    background-image: url("../images/option-houses/house-4.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; }
  .main-content .item-5 {
    background-image: url("../images/option-houses/house-5.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .main-content .item-6 {
    background-image: url("../images/option-houses/house-6.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat; }
  .main-content .item-7 {
    background-image: url("../images/option-houses/house-7.jpg"); }
  .main-content .item-8 {
    background-image: url("../images/option-houses/house-8.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; }
  .main-content .item-9 {
    background-image: url("../images/option-houses/house-9.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; }
  .main-content .item-10 {
    background-image: url("../images/option-houses/house-10.jpg"); }

.overlay-cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: transform 0.4s cubic-bezier(0.3, 0.56, 0.83, 0.67);
  transform: translateY(150%); }
  @media only screen and (max-width: 700px) {
    .overlay-cont {
      transform: translateY(0); } }
  .overlay-cont .house-options {
    display: flex;
    justify-content: space-between;
    padding: .3rem .7rem; }
    .overlay-cont .house-options .detail-cont {
      display: flex;
      align-items: center; }
    .overlay-cont .house-options .options-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: #f4eceb; }
    .overlay-cont .house-options .tag-icon {
      width: .9rem;
      height: .9rem;
      transform: translateX(-0.2rem) translateY(-2px); }
    .overlay-cont .house-options .rupee-symbol {
      width: .9rem;
      height: .9rem;
      fill: #fff; }

.selected-option {
  position: relative; }

.selected-filter {
  pointer-events: none; }

.selected_filter_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.filter_items + .filter_items {
  margin: .9rem auto 0; }

.filter_items {
  background: #fff;
  padding: .2rem 0; }

.filter-heading {
  font-size: 1.2rem;
  text-align: center;
  color: #ebebd5;
  border-bottom: 1px solid #1a1916;
  margin-bottom: .6rem;
  background: #505050; }

.filter__name {
  padding: 0 .8rem;
  cursor: pointer; }
  .filter__name .option {
    font-size: .8rem;
    letter-spacing: 1px;
    font-family: 'Poppins';
    position: relative;
    top: -.06rem;
    margin-left: .5rem;
    text-transform: uppercase; }

.lessor-form-container {
  margin-top: 6rem;
  margin-bottom: 1rem;
  padding: 0 1.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); }

.form-bg {
  display: inline-block; }
  @media only screen and (min-width: 1000px) {
    .form-bg .svg-bg {
      max-width: 90%;
      max-height: 90%; } }
  @media only screen and (max-width: 1000px) and (min-width: 700px) {
    .form-bg .svg-bg {
      max-width: 85%;
      max-height: 85%; } }

.form_body {
  margin-left: 1rem; }
  @media only screen and (min-width: 700px) and (max-width: 1000px) {
    .form_body {
      margin-left: -1rem;
      padding: 0 1rem;
      border-left: 1px solid #ababbd; } }
  @media only screen and (min-width: 1000px) {
    .form_body {
      margin-left: -1rem;
      padding: 0 1rem;
      border-left: 1px solid #ababbd; } }

.form_section + .form_section {
  margin-top: 1.6rem;
  border-top: 1px solid #23251f; }

.form_control {
  position: relative; }
  .form_control .text-input {
    display: block;
    width: 100%;
    padding: .4rem .2rem;
    color: #0b0909;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-family: 'Source Serif Pro', serif;
    border-radius: 6px;
    max-width: 800px;
    border: 1px solid #3c4647; }
    .form_control .text-input::placeholder {
      font-size: .7rem;
      color: #718177;
      font-family: 'Poppins', serif;
      letter-spacing: 1px;
      font-weight: normal; }
    .form_control .text-input:focus {
      outline: none;
      box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4); }
  .form_control i {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: .7rem;
    background: #fff; }
    @media only screen and (min-width: 1200px) {
      .form_control i {
        right: 19px; } }
    .form_control i:first-child {
      color: #2ecc71;
      visibility: hidden; }
    .form_control i:nth-child(2) {
      color: #e74c3c;
      visibility: hidden; }
  .form_control.success .text-input {
    border: 2px solid #2ecc71; }
  .form_control.error .text-input {
    border: 2px solid #e74c3c; }
  .form_control .error-msg {
    display: inline-block;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1px;
    color: #e74c3c;
    padding: .2rem;
    display: none; }

.form_control + .form_control {
  margin-top: 1.1rem; }

.edit-note {
  letter-spacing: 1px; }
  .edit-note .asterick {
    font-size: 1.2rem;
    display: inline-block;
    transform: translateY(3px);
    color: #da2310;
    font-weight: bold; }
  .edit-note .occupancy-text {
    text-align: center;
    font-size: .9rem;
    color: #68636f;
    font-family: 'Source Serif Pro', serif;
    transform: translateY(-3px);
    width: 100%;
    max-width: 700px; }
  .edit-note .state-text {
    display: inline-block;
    margin-top: .7rem;
    font-size: .9rem;
    margin-right: .5rem;
    margin-left: .5rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold; }

.house-preview {
  width: 400px;
  height: 250px;
  border: 1px solid #637171;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: transform .4s ease;
  transform: scale(1); }
  .house-preview:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); }

.houseImg {
  width: 400px;
  height: 250px;
  object-fit: cover;
  display: none; }

.roomImgPreviewCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 120px));
  justify-content: space-between;
  grid-gap: .5rem;
  margin-top: 1rem; }

.room-preview {
  min-height: 80px;
  border: 1px solid #637171;
  cursor: pointer;
  transition: transform .4s ease;
  transform: scale(1); }
  .room-preview:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); }

.roomsAllImg {
  object-fit: cover;
  display: block; }

.holder-list {
  list-style-type: disc;
  margin-left: 1rem;
  display: block; }

.upload-details {
  margin-bottom: 1rem; }

.occup {
  border-top: 1px solid #23251f;
  padding-top: 1rem; }

.stateInfo {
  cursor: not-allowed; }
