:root {
  --background-clr: #f6f8fa;
  --link-clr: #7c859a;
  --text-clr: #141214;
  --darker-link-clr: #9da5aa;
  --features-purple-clr: #3f2fae;
  --features-blue-clr: #32589f;
  --link-hover-clr-1: #c55841;
  --link-hover-clr-2: #f78657;
  --button-clr: #5292bf;
  --border-bottom: 1.3px solid  var(--link-hover-clr-1);
  --heading-border-bottom: 1.3px solid #040b16;
  --font-family: 'Alegreya', serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 0.625rem;
  font-family: var(--font-family);
  padding: 0 1rem; }

img {
  max-width: 100%; }

a {
  font-family: inherit;
  text-decoration: none; }

ul {
  list-style: none; }

.hero__text {
  display: inline-block;
  position: absolute;
  top: 13rem;
  left: 4rem; }

.hero_heading {
  font-size: 3rem;
  color: #e6d6c3;
  letter-spacing: 1px;
  line-height: 1.4; }

.hero_desc {
  font-size: 1.4rem;
  max-width: 350px;
  color: #ece1d7; }

.primary_heading {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: #0b2673;
  border-bottom: var(--border-bottom);
  display: inline-block; }

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #342ac7;
  border-bottom: var(--heading-border-bottom);
  margin-bottom: 1.2rem;
  font-weight: bolder;
  display: inline-block; }

.services-heading {
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  font-family: 'Poppins',sans;
  color: #0d0e13;
  letter-spacing: 1.1px;
  transition: transform 0.5s ease;
  transform-origin: right; }
  .services-heading::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    border-bottom: var(--border-bottom);
    transform: scale(0);
    transform-origin: left; }

.services-desc {
  margin-bottom: 0.6rem;
  color: #403e49;
  display: inline-block;
  font-weight: 400;
  margin: 1rem auto 0;
  width: 300px;
  font-size: 0.9rem;
  word-wrap: wrap;
  line-height: 1.7; }

.space-name {
  font-family: 'Playfair Display', Sans-Serif;
  font-size: 1.2rem;
  color: #364fe3; }

.space-desc {
  font-size: 1.1rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #170d06;
  text-align: center;
  padding: .7rem .3rem;
  flex-wrap: wrap; }

.price {
  font-size: 1.2rem;
  color: #c6390d;
  transform: translateY(-0.6rem); }

.address,
.rooms {
  position: relative;
  top: -.4rem;
  left: .2rem;
  font-size: 1.2rem;
  color: #140804; }

.cost {
  position: relative;
  font-size: 1.2rem;
  color: #140804; }

.reviewer_name {
  font-size: 1.2rem;
  color: #080e0c;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Source Serif Pro', serif; }

.reviewer_city {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem; }

.reviewer_text {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: black; }

.view-deal {
  padding: .5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
  background: #139c9c;
  color: #fff;
  border: none;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: .9rem;
  letter-spacing: 1px; }
  .view-deal:hover {
    background: #095b5b; }

.show-more {
  background-color: #16213c;
  border: none;
  padding: .7rem .9rem;
  margin: 1rem 0;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center; }
  .show-more:hover {
    background-color: #080d1a; }
    .show-more:hover .icon {
      opacity: 1;
      visibility: visible;
      transform: scale(1); }
    .show-more:hover .text {
      transform: translateX(0); }
  .show-more:focus {
    outline: 2px solid var(--link-hover-clr-1);
    outline-offset: 3px; }
  .show-more .icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    fill: #fff;
    opacity: 0;
    visibility: hidden; }
    .show-more .icon-home {
      transition: transform .2s ease, opacity .4s ease;
      opacity: 0;
      visibility: hidden;
      transform: translateY(0.1rem) scale(0);
      transform-origin: bottom;
      margin-left: .2rem; }

.text {
  transition: transform .2s ease;
  display: inline-block;
  transform: translateX(0.6rem);
  border: none;
  font-size: 1rem;
  text-transform: CamelCase;
  letter-spacing: 1px;
  margin-left: .2rem;
  color: #f4eaf3; }

.hover-link {
  position: relative; }
  .hover-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1.3px solid var(--link-hover-clr-1);
    transform: scale(0);
    transition: transform .3s ease-in-out;
    transform-origin: right; }
  .hover-link:hover::after {
    transform: scale(1);
    transform-origin: left; }

.container {
  border: 3px solid red; }

.nav {
  border-bottom: 1px solid var(--button-clr); }
  .nav_list {
    display: flex; }
    .nav_list--items:first-child {
      font-family: var(--font-family);
      font-size: 2rem;
      color: var(--features-blue-clr);
      font-weight: normal; }
    .nav_list--items:nth-child(2) {
      margin-left: auto;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      letter-spacing: 1px;
      font-size: 1.1rem; }
    .nav_list--items:nth-child(3) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      cursor: pointer; }

.hero {
  height: 78vh;
  background-image: url("../images/hero-section-img.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.services {
  padding: 2rem 0 0;
  text-align: center; }
  .services_lessor {
    padding: 2rem 0; }
  .services_lessee {
    padding: 2rem 0; }
  .services .features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  .services-customer {
    border: 1px solid #c2b8c1;
    flex: 0 1 calc(22% -2rem);
    margin: 0 0.7rem 0.6rem;
    padding: 0.6rem;
    cursor: pointer; }
    .services-customer:hover {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); }
      .services-customer:hover .services-heading::after {
        transform: scale(1); }
  .services .icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.3rem 0;
    stroke: currentColor;
    fill: white; }
    .services .icon-bullseye {
      background-color: #df1e2d; }
    .services .icon-gps_not_fixed {
      background-color: #dec236; }
    .services .icon-comments {
      background-color: #5bdfb4; }
    .services .icon-thumbs-up {
      background-color: #dd6d33; }
    .services .icon-user {
      background-color: #42d2be; }
    .services .icon-handshake-o {
      background-color: #ee87d3; }
    .services .icon-home {
      background-color: #306fd7; }
    .services .icon-profile {
      background: #8d9a7c;
      fill: #d9e7c9; }

.space-houses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem; }

.sample-space {
  padding: .2rem;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.25); }

.space-container {
  border: 1px solid #62675e;
  margin: 0 auto .9rem;
  position: relative; }

.space-intro {
  position: sticky;
  top: 10px;
  left: 0;
  transform: skew(-2deg);
  border: 3px solid #c1c1c1;
  background-color: #fff;
  z-index: 5;
  width: 190px; }

.space-img-cont {
  position: relative;
  top: -4rem; }

.space-img {
  width: 100%; }

.space-desc-cont {
  background-color: #fff;
  margin-top: -4.2rem; }

.space-feat-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  border: 1px solid #170d1d;
  padding: .4rem;
  grid-gap: .2rem;
  text-align: center; }

.space-feat .icon {
  width: 1.5rem;
  height: 1.5rem; }
  .space-feat .icon-map-marker {
    fill: #db7932; }
  .space-feat .icon-hash {
    fill: #db7932; }
  .space-feat .icon-tag {
    width: .8rem;
    height: .8rem;
    transform: translateX(-4.1rem) translateY(0.4rem);
    fill: #829d8c; }
  .space-feat .icon-rupees-symb {
    width: 0.7rem;
    height: 0.7rem;
    fill: #829d8c; }

.reviews {
  background: #fff;
  position: relative;
  height: 78vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.review {
  border: 1px solid #bebcb8;
  top: 4rem;
  position: absolute;
  background: #fff;
  height: 57vh;
  width: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }

.reviewer-img-Cont {
  width: 100px;
  height: 100px;
  margin: 1rem auto;
  border: 3px solid #eee;
  border-radius: 50%;
  position: relative; }
  .reviewer-img-Cont .icon {
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
    background: #18b53b; }
    .reviewer-img-Cont .icon-quotes-left {
      width: 1.7rem;
      height: 1.7rem;
      padding: .2rem;
      fill: #fff; }

.reviewer-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; }

.footer {
  color: #fff;
  padding: 2rem 1rem;
  background-color: #2e2e34; }
  .footer-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-gap: 1rem; }
  .footer-list:nth-of-type(1) {
    align-self: start; }
  .footer-items {
    margin-bottom: .5rem;
    padding: .4rem .8rem; }
  .footer-ack {
    text-align: center;
    color: #fff;
    background: #060506;
    padding: .6rem; }
