:root {
  --background-clr: #f6f8fa;
  --link-clr: #7c859a;
  --text-clr: #141214;
  --darker-link-clr: #9da5aa;
  --features-purple-clr: #3f2fae;
  --features-blue-clr: #32589f;
  --link-hover-clr-1: #c55841;
  --link-hover-clr-2: #f78657;
  --button-clr: #5292bf;
  --border-bottom: 1.3px solid  var(--link-hover-clr-1);
  --heading-border-bottom: 1.3px solid #040b16;
  --font-family: 'Alegreya', serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 0.625rem;
  font-family: var(--font-family);
  overflow-x: hidden; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.nav-logo {
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  color: var(--logo-clr); }

.login {
  font-size: 1.1rem;
  color: var(--login-clr);
  letter-spacing: 1px; }

.join {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1rem;
  background: #e3662a;
  color: #fff;
  border-radius: 22px;
  padding: 0.2rem 0.8rem; }
  .join:hover {
    color: #e3662a;
    background: #fff; }

.hero__text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.hero_heading {
  font-family: 'Source Serif Pro', serif;
  font-size: 3rem;
  color: #e9eaf6;
  letter-spacing: 1px;
  line-height: 1.4; }

.hero_desc {
  font-family: 'Lobster';
  font-size: 2.3rem;
  letter-spacing: 1px;
  max-width: 650px;
  color: #ece1d7; }

.les_lor-heading {
  color: #e1f9f7;
  font-family: 'Source Serif Pro', Sans-serif; }

.primary_heading {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: #000205;
  border-bottom: var(--border-bottom);
  display: inline-block; }

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1c0808;
  border-bottom: var(--heading-border-bottom);
  margin-bottom: 1.2rem;
  font-weight: bolder;
  display: inline-block; }

.services-heading {
  font-size: 1.1rem;
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: #0d0e13;
  letter-spacing: 1.1px;
  transition: transform 0.5s ease;
  transform-origin: right; }
  .services-heading::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    border-bottom: var(--border-bottom);
    transform: scale(0);
    transform-origin: left; }

.services-desc {
  margin-bottom: 0.6rem;
  color: #403e49;
  display: inline-block;
  font-weight: 400;
  margin: 1rem auto 0;
  width: 300px;
  font-size: 0.9rem;
  word-wrap: wrap;
  line-height: 1.7; }

.space-name {
  font-family: 'Source Serif Pro', Sans-Serif;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 1rem 0;
  color: #050303;
  display: inline-block;
  border-bottom: var(--border-bottom); }

.space-desc {
  font-size: 1.2rem;
  width: 80%;
  margin: 0.4rem auto;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #170d06;
  padding: 0.7rem 0.3rem;
  flex-wrap: wrap; }

.price {
  font-size: 1.2rem;
  color: #c6390d;
  transform: translateY(-0.6rem); }

.address,
.rooms {
  position: relative;
  top: -.4rem;
  left: 0.2rem;
  font-size: 1.2rem;
  color: #140804; }

.address {
  font-size: 1.1rem; }

.cost {
  position: relative;
  font-size: 1.2rem;
  color: #140804; }

.reviewer_name {
  font-size: 1.2rem;
  color: #080e0c;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Poppins', serif;
  display: inline-block; }

.reviewer_city {
  display: block;
  font-family: 'Poppins', serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #91a899;
  font-size: 1.1rem;
  text-transform: uppercase; }

.reviewer_text {
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000; }

.footer-links {
  font-size: 1rem;
  color: #c6c8c9; }
  .footer-links:hover {
    outline: 3px dotted var(--link-hover-clr-1);
    outline-offset: 7px; }
  .footer-links-logo {
    font-size: 2rem;
    color: #c4e4c9;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Source Serif Pro'; }

.footer-list-heading {
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 2px;
  border-bottom: var(--border-bottom); }

.footer-ack {
  text-align: center;
  color: #fff;
  background: #060506;
  padding: 0.6rem;
  font-size: 0.9rem;
  font-family: 'Source Serif Pro', serif; }

.mt--lg {
  margin-top: 2.5rem; }

.mt--md {
  margin-top: 1.5rem; }

.mt--sm {
  margin-top: .5rem; }

.mb--lg {
  margin-bottom: 2.5rem; }

.mb--md {
  margin-bottom: 1.5rem; }

.mb--sm {
  margin-bottom: .5rem; }

.view-deal {
  padding: .5rem 1rem;
  margin: 1rem 0;
  cursor: pointer;
  background: #139c9c;
  color: #fff;
  border: none;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: .9rem;
  letter-spacing: 1px; }
  .view-deal:hover {
    background: #095b5b; }

.show-more {
  background-color: #16213c;
  border: none;
  padding: .7rem .9rem;
  margin: 1rem 0;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-align: center; }
  .show-more:hover {
    background-color: #080d1a; }
    .show-more:hover .icon {
      opacity: 1;
      visibility: visible;
      transform: scale(1); }
    .show-more:hover .text {
      transform: translateX(0); }
  .show-more:focus {
    outline: 2px solid var(--link-hover-clr-1);
    outline-offset: 3px; }
  .show-more .icon {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    fill: #fff;
    opacity: 0;
    visibility: hidden; }
    .show-more .icon-home {
      transition: transform .2s ease, opacity .4s ease;
      opacity: 0;
      visibility: hidden;
      transform: translateY(0.1rem) scale(0);
      transform-origin: bottom;
      margin-left: .2rem; }

.text {
  transition: transform .2s ease;
  display: inline-block;
  transform: translateX(0.6rem);
  border: none;
  font-size: 1rem;
  text-transform: CamelCase;
  letter-spacing: 1px;
  margin-left: .2rem;
  color: #f4eaf3; }

.load-btn {
  padding: .5rem 1.3rem;
  border: none;
  background: #0b82a3;
  color: #fff;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: transform .2s ease-in;
  cursor: pointer; }
  .load-btn:hover, .load-btn:focus {
    outline: 5px dashed var(--link-hover-clr-1);
    outline-offset: 10px; }

.hover-link {
  position: relative; }
  .hover-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1.3px solid var(--link-hover-clr-1);
    transform: scale(0);
    transition: transform .3s ease-in-out;
    transform-origin: right; }
  .hover-link:hover::after {
    transform: scale(1);
    transform-origin: left; }

.container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative; }

.nav {
  --logo-clr: #fefeff;
  --login-clr: #dfe4eb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0 0.9rem; }
  .nav_list {
    display: flex; }
    .nav_list--items {
      cursor: pointer; }
      .nav_list--items:nth-child(2) {
        margin-left: auto;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
      .nav_list--items:nth-child(3) {
        margin: 0.4rem 0.4rem 0.4rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease; }

.hero {
  position: relative; }

.sliders {
  height: 100vh;
  position: relative; }

.slide {
  height: 100%;
  position: relative;
  background-blend-mode: multiply;
  transition: transform .4s ease-in-out; }
  .slide-1 {
    background: #8a9491 url("../images/houses/hero.jpg");
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat; }
  .slide-2 {
    background: #bbb url("../images/houses/hero-lor.jpg");
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat; }
  .slide-3 {
    background: #bbb url("../images/houses/hero-less.jpg");
    background-size: cover;
    background-position: 100% center;
    background-repeat: no-repeat; }

.trans-btn {
  position: absolute;
  top: 50%;
  z-index: 6;
  transform: translateY(-50%);
  display: inline-block;
  background: black;
  opacity: 0.6;
  padding: 1.3rem .5rem;
  cursor: pointer; }

.icon {
  display: inline-block;
  font-size: 48px;
  color: #eee;
  filter: brightness(100%); }

.prev-btn {
  left: 0; }
  .prev-btn:hover .icon-arrow-left {
    color: #fff;
    filter: brightness(250%); }

.next-btn {
  right: 0; }
  .next-btn:hover .icon-arrow-right {
    color: #fff;
    filter: brightness(250%); }

.services {
  padding: 2rem 0 0;
  text-align: center; }
  .services_lessor {
    padding: 2rem 0; }
  .services_lessee {
    padding: 2rem 0; }
  .services .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); }
  .services-customer {
    border: 1px solid #c2b8c1;
    margin: 0 0.7rem 0.6rem;
    padding: 0.6rem;
    cursor: pointer; }
    .services-customer:hover {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); }
      .services-customer:hover .services-heading::after {
        transform: scale(1); }
  .services .icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.3rem 0;
    stroke: currentColor;
    fill: white; }
    .services .icon-bullseye {
      background-color: #df1e2d; }
    .services .icon-gps_not_fixed {
      background-color: #dec236; }
    .services .icon-comments {
      background-color: #5bdfb4; }
    .services .icon-thumbs-up {
      background-color: #dd6d33; }
    .services .icon-user {
      background-color: #42d2be; }
    .services .icon-handshake-o {
      background-color: #ee87d3; }
    .services .icon-home {
      background-color: #306fd7; }
    .services .icon-profile {
      background: #8d9a7c;
      fill: #d9e7c9; }

.faded {
  opacity: 0;
  transition: opacity .3s ease-in; }

.faded.appear {
  opacity: 1; }

.sample-space {
  padding: 0.2rem;
  text-align: center;
  background-color: rgba(225, 225, 225, 0.25); }

.space-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: space-between; }

.space-desc-cont {
  background-color: #fff; }

.space-feat-cont {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  justify-content: space-between;
  border: 1px solid #170d1d;
  padding: 0.4rem;
  grid-gap: 0.2rem;
  text-align: center; }

.space-feat .icon {
  width: 1.5rem;
  height: 1.5rem; }
  .space-feat .icon-map-marker {
    fill: #db7932; }
  .space-feat .icon-hash {
    fill: #db7932; }
  .space-feat .icon-tag {
    width: 0.8rem;
    height: 0.8rem;
    transform: translateX(-4.1rem) translateY(0.4rem);
    fill: #829d8c; }
  .space-feat .icon-rupees-symb {
    width: 0.7rem;
    height: 0.7rem;
    fill: #829d8c; }

.space-img-cont {
  position: relative;
  display: flex; }

.space-img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); }

.space-intro {
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid #c1c1c1;
  background-color: #fff;
  width: 160px;
  height: 46px;
  z-index: 26; }
  @media only screen and (max-width: 1000px) and (min-width: 590px) {
    .space-intro {
      left: calc(12.8vw); } }
  @media only screen and (min-width: 1200px) {
    .space-intro {
      left: 4.4rem; } }

.txtLeft {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.txtRight {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.imgRight {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.imgLeft {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.from-left {
  transform: translateX(-50%); }

.from-right {
  transform: translateX(50%); }

.from-left,
.from-right {
  transition: opacity .3s ease-in, transform .4s ease-in;
  opacity: 0;
  transform: translateX(0); }

.from-left.appear,
.from-right.appear {
  opacity: 1; }

@media only screen and (max-width: 1000px) {
  .imgRight,
  .imgLeft {
    grid-column: 1 / 3;
    grid-row: 1 / 2; }
  .txtRight,
  .txtLeft {
    grid-column: 1 / 3;
    grid-row: 2 / 3; } }

.reviews {
  background: #fff;
  position: relative;
  height: 78vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.review {
  border: 1px solid #bebcb8;
  top: -3rem;
  position: relative;
  background: #fff;
  height: 53vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.1rem .2rem .2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }

.reviewer-img-Cont {
  width: 100px;
  height: 100px;
  margin: -1rem auto .4rem;
  border: 3px solid #eee;
  border-radius: 50%;
  position: relative; }
  .reviewer-img-Cont .icon {
    position: absolute;
    bottom: 1px;
    right: 1px;
    border-radius: 50%;
    background: #18b53b; }
    .reviewer-img-Cont .icon-quotes-left {
      width: 1.7rem;
      height: 1.7rem;
      padding: 0.2rem;
      fill: #fff; }

.reviewer-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; }

.reviewer-desc {
  margin-top: 0rem; }

.footer {
  color: #fff;
  padding: 2rem 1rem;
  background-color: #2e2e34; }
  .footer-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-gap: 1rem; }
  .footer-list:nth-of-type(1) {
    align-self: start; }
  .footer-items {
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.8rem; }
  .footer-ack {
    text-align: center;
    color: #fff;
    background: #060506;
    padding: 0.6rem; }

.nav-scrolled {
  --logo-clr: #c4e4c9;
  --login-clr: #b0b7d6;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  background: #07080f; }
