.container {
  @include shadow(0.3, 10px);
  position: relative;
}

//hero section styling

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sliders {
  height: 100vh;
}

.slide {
  height: 100vh;
  background-blend-mode: multiply;
  transition: transform 0.4s ease-in-out;
  &-1 {
    background: #727070 url("../images/houses/hero.jpg");
    @include background(100%);
  }

  &-2 {
    background: #727070 url("../images/houses/hero-lor.jpg");
    @include background(100%);
  }

  &-3 {
    background: #727070 url("../images/houses/hero-less.jpg");
    @include background(100%);
  }
}

//services section styling
.services {
  margin: 4rem 0 2rem;
  text-align: center;

  &_lessor {
    margin: 2rem 0;
  }

  .features {
    padding: 0 1rem;
  }

  &-customer {
    border: 1px solid #dfe5e6;
    padding: 0.7rem;
  }

  .icon {
    display: inline-block;
    border-radius: 50%;
    padding: 0.3rem 0;
    stroke: currentColor;
    fill: white;

    //lessee svg icons
    &-bullseye {
      background-color: #df1e2d;
    }

    &-gps_not_fixed {
      background-color: #dec236;
    }

    &-comments {
      background-color: #5bdfb4;
      // padding: .6rem;
    }

    &-thumbs-up {
      background-color: #dd6d33;
    }
    //lessor svg icons
    &-user {
      background-color: #42d2be;
    }

    &-handshake-o {
      background-color: #ee87d3;
    }

    &-home {
      background-color: #306fd7;
    }

    &-profile {
      background: #8d9a7c;
      fill: #d9e7c9;
    }
  }
}

//sample space styling
.sample-space {
  text-align: center;
  margin-top: 4rem;
}

.space {
  &-container {
    padding: 1.5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  //image section styling
  &-img-cont {
    position: relative;
    margin: 0 2rem 1.5rem;
    border-radius: 20px;
    .space-img {
      width: 100%;
      max-width: 450px;
      margin: 0 auto;
      display: block;
      object-fit: cover;
      @include shadow(0.5, 2px);
      border-radius: 20px;
    }
  }

  //purchase details
  &-feat-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &-feat {
    display: flex;
    align-items: center;
    .icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.2rem;
      display: inline-block;

      &-map-marker {
        fill: #db7932;
      }

      &-hash {
        fill: #db7932;
      }
    }
  }
}
//review section styling

.reviews {
  margin: 2.5rem 0 5rem;
  position: relative;
  text-align: center;
  @include flex(column, space-between);
}

.review {
  // border: 1px solid #bebcb8;
  position: relative;
  @include flex(column, space-between);
  margin: 0 4rem;
  // max-width: 600px;
  padding: 2rem 0.4rem;
  @include shadow(0.2, 5px);
  border-radius: 20px;
}

.reviewer {
  &-img-Cont {
    width: 100px;
    height: 100px;
    margin: -1rem auto 0.4rem;
    border: 3px solid #eee;
    border-radius: 50%;
    position: relative;
    .icon {
      position: absolute;
      bottom: 1px;
      right: 1px;
      border-radius: 50%;
      background: #18b53b;

      &-quotes-left {
        width: 1.7rem;
        height: 1.7rem;
        padding: 0.2rem;
        fill: #fff;
      }
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

//***********HOME PAGE**************

//service svg
.lessor-features,
.lessee-features {
  svg {
    @media (max-width: 528px) {
      width: 2rem;
      height: 2rem;
    }
  }
}

.features {
  @media (max-width: 700px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 0.5rem;
  }
}

//Sample Spaces
.space {
  &-container {
    border-bottom: 10px dotted rgb(235, 235, 235);
  }

  &-desc {
    @media (max-width: 500px) {
      font-family: var(--sec-font-family);
      font-size: 0.8rem;
    }
  }

  &-feat {
    .icon {
      @media (max-width: 500px) {
        width: 0.7rem;
        height: 0.7rem;
      }
    }
  }
}

//Reviewer
.reviewer {
  &-img-Cont {
    @media (max-width: 500px) {
      width: 70px;
      height: 70px;
    }
    .icon {
      &-quotes-left {
        @media (max-width: 500px) {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

///Media query for >500px <800px ***************************************

//service svg
.lessor-features,
.lessee-features {
  svg {
    @media (min-width: 530px) and (max-width: 700px) {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}

//Sample Spaces
.space {
  &-img-cont {
    @media (min-width: 530px) and (max-width: 700px) {
      margin: 0 3rem 1.5rem;
    }
  }

  &-feat {
    .icon {
      @media (min-width: 530px) and (max-width: 700px) {
        width: 0.9rem;
        height: 0.9rem;
      }
    }
  }
}

///Media query for >700px ***************************************

//service svg
.lessor-features,
.lessee-features {
  svg {
    @media (min-width: 701px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.features {
  @media (min-width: 701px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.2rem;
    margin: 0 1rem;
  }
}

//Sample Spaces

.space {
  &-container {
    @media (min-width: 701px) {
      // border: 2px solid red;
      margin: 0 4rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      border-bottom: 1px solid #d6d4d4;
    }
  }
  &-img-cont {
    @media (min-width: 701px) {
      margin: 0 1rem 1.5rem;
    }
    //image section styling
    .space-img {
      @media (min-width: 701px) {
        max-width: 500px;
      }
    }
  }

  &-feat {
    .icon {
      @media (min-width: 701px) {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }
}

.review {
  // border: 1px solid #bebcb8;
  @media (min-width: 701px) {
    max-width: 900px;
    margin: 0 1rem 1.5rem;
  }
}
