.container {
  @include shadow(0.3, 10px);
  position: relative;
}

//hero section styling

.hero {
  position:relative;
}


.sliders{
   height: 100vh;
   position:relative;
}

.slide{
  height: 100%;
  position:relative;
  background-blend-mode: multiply;
  transition: transform .4s ease-in-out;
  &-1{
    background:#8a9491 url('../images/houses/hero.jpg');
      @include background(100%);
   }

  &-2{
        background:#bbb url('../images/houses/hero-lor.jpg');
        @include background(100%);
              }

  &-3{
      background:#bbb url('../images/houses/hero-less.jpg');
      @include background(100%);
        }
}

//services section styling
.services {
  padding: 2rem 0 0;
  text-align: center;

  &_lessor {
      padding: 2rem 0;
  }

  &_lessee {
    padding: 2rem 0;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }

  &-customer {
    border: 1px solid #c2b8c1;
    margin: 0 0.7rem 0.6rem;
    padding: 0.6rem;
    cursor: pointer;

    &:hover {
      @include shadow(0.3, 5px);

      .services-heading::after {
        transform: scale(1);
      }
    }
  }

  .icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.3rem 0;
    // stroke-width: 0;
    stroke: currentColor;
    fill: white;
    //lessee svg icons
    &-bullseye {
      background-color: #df1e2d;
    }

    &-gps_not_fixed {
      background-color: #dec236;
    }

    &-comments {
      background-color: #5bdfb4;
      // padding: .6rem;
    }

    &-thumbs-up {
      background-color: #dd6d33;
    }
    //lessor svg icons
    &-user {
      background-color: #42d2be;
    }

    &-handshake-o {
      background-color: #ee87d3;
    }

    &-home {
      background-color: #306fd7;
    }

    &-profile {
      background: #8d9a7c;
      fill: #d9e7c9;
    }
  }
}

.faded{
  opacity: 0;
  transition: opacity .3s ease-in;
}

.faded.appear{
  opacity: 1;
}

//sample space styling

.sample-space {
  padding: 0.2rem;
  text-align: center;
  background-color: rgba(225, 225, 225, .25);
}

.space {
  &-container {
    position:relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}
  //description section styling
  &-desc-cont {
    background-color: #fff;
    // width: 100%;
  }

  &-feat-cont {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-content: space-between;
    border: 1px solid rgb(23, 13, 29);
    padding: 0.4rem;
    grid-gap: 0.2rem;
    text-align: center;
  }

  &-feat {
    .icon {
      width: 1.5rem;
      height: 1.5rem;

      &-map-marker {
        fill: #db7932;
      }

      &-hash {
        fill: #db7932;
      }

      &-tag {
        width: 0.8rem;
        height: 0.8rem;
        transform: translateX(-4.1rem) translateY(.4rem);
        fill: #829d8c;
      }

      &-rupees-symb {
        width: 0.7rem;
        height: 0.7rem;
        fill: #829d8c;
      }
    }
  }
  //image section styling
  &-img-cont {
    position: relative;
    display: flex;
}

  &-img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    @include shadow(0.3, 15px);
  }

  &-intro {
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #c1c1c1;
    background-color: #fff;
    width: 160px;
    height: 46px;
    z-index: 26;
    @media only screen and (max-width: 1000px) and (min-width: 590px) {
      left: calc(12.8vw);
    }

    @media only screen and (min-width: 1200px) {
      left: 4.4rem;
    }
  }
}

.txtLeft{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.txtRight{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}


.imgRight{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.imgLeft{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.from-left{
 transform: translateX(-50%);
}

.from-right{
  transform: translateX(50%);
}

.from-left,
.from-right{
  transition: opacity .3s ease-in,
              transform .4s ease-in;
  opacity: 0;
  transform: translateX(0);
}

.from-left.appear,
.from-right.appear{
  opacity: 1;
}



@media only screen and (max-width: 1000px) {
  .imgRight,
  .imgLeft{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
   }

 .txtRight,
 .txtLeft{
   grid-column: 1 / 3;
   grid-row: 2 / 3;
  }

}

//review section styling

.reviews {
  // border: 3px solid blue;
  background: #fff;
  position: relative;
  height: 78vh;
  text-align: center;
  @include flex(column, space-between);
}

.review {
  border: 1px solid #bebcb8;
  top: -3rem;
  position: relative;
  background: #fff;
  // height: 53vh;
  width: 80vh;
  @include flex(column, space-evenly);
  padding:1.1rem .2rem .8rem;
  @include shadow(0.3, 8px);
}

.reviewer {
  &-img-Cont {
    width: 100px;
    height: 100px;
    margin: -1rem auto .4rem;
    border: 3px solid #eee;
    border-radius: 50%;
    position: relative;

    .icon {
      position: absolute;
      bottom: 1px;
      right: 1px;
      border-radius: 50%;
      background: #18b53b;

      &-quotes-left {
        width: 1.7rem;
        height: 1.7rem;
        padding: 0.2rem;
        fill: #fff;
      }
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &-desc {
    // border: 3px solid red;
    margin-top: 0rem;
  }
}
