
.slider{
  position:relative;
  margin-top: 3rem;
  &-cont{
    position:relative;
    width: 100vw;
    height: 70vh;
    overflow:hidden;
    .indi-1{
      width: 100%;
      // height:100%;
      object-fit: cover;
      cursor: pointer;
      position:absolute;
      @media only screen and (min-width: 900px){
        // height: 85vh;
      }
      .indi-house-img{
        width: 100%;
        height: 70vh;
        object-fit: cover;
        }
        &.noImage{
          background: #aaadb0;
          height: 70vh;
          color:#415049;
          @include flex();
          font-size: 3rem;
          font-family: 'Lobster', serif;
          letter-spacing: 1.1px;
        }
    }
  }
}

.abouthouse{
  position:relative;
  top: 3rem;
  left: 1rem;
  display: block;
  margin: 0 1rem 6rem;
}

//1st section styling address rent and share********************************
.owner-name{
  padding: .5rem;
}

.details{
  display: grid;
  grid-template-columns: 40rem 20rem;
  grid-template-rows: 1fr;
  justify-content: space-between;
  grid-gap: 1rem;
  //border: 2px solid red;
  border-bottom: 1px solid #bbb;
  @media only screen and (max-width: 1000px){
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
  }
  .ad_rentBox{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5rem;

    .address-box,
    .rent-box{
      border: 1px dashed #222;
      // @include shadow(.2, 7px);
      padding: 0 0.7rem;
    }
  }

  .icon-box{
    border: 1px dashed #222;
    align-self: flex-start;
    display: grid;
    grid-template-columns: 140px 60px 60px;
    grid-gap: .8rem;
    align-items: center;
    padding: 1rem;
    justify-content: flex-end;
    @media only screen and (max-width: 1000px){
      justify-content: center;

    }

    .indi-vc{
      font-family: 'Poppins' , serif;
      font-size: 1.2rem;
      color: #373132;
      margin-right: .4rem;
    }

    .indi-vc-box,
    .indi-basket-box,
    .indi-share-box{
      // border: 1px solid yellow;
      text-align: center;
      i{
         font-size: 1.1rem;
      }

      .icon{
        cursor: pointer;
        transition: transform .2s ease;
        transform: scale(1);
        &:hover{
          transform: scale(1.07);
        }
      }
    }

    .indi-basket-box,
    .indi-share-box{
      // border: 2px solid green;
      cursor: pointer;
      .icon{
        fill: #515752;
        width: 1.6rem;
        height: 1.6rem;
        }
    }
    .indi-share-box{
      margin-left: 0rem;
      // border: 2px solid green;
      .icon{
        pointer-events: none;
      }
    }

    .indi-basket-box{
      .icon{
        fill:#8e8e8e;
        text-align: left;
        transition: transform .2s linear;
        transform: scale(1);
        stroke-width: .5px;
        &.active{
          transform: scale(1.2);
          fill: #e93434;
          // stroke:  #aa0909;
        }
      }
    }

  }
}

//2nd section styling owner details*******************************
.owner_details{
  margin: 1rem 0;
  border-bottom: 1px solid #bbb;
  .own_details_box{
     border: 1px dashed #222;
    // display: inline-block;
  }
}

//3rd section styling description*******************************
.house-description{
  //border: 2px solid red;
  border-bottom: 1px solid #bbb;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

//4th section styling amenities ****************
.amenities{
  border-bottom: 1px solid #bbb;
  padding-bottom: 1rem;
  .faci-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 170px));
    justify-content: center;
    padding-bottom: 1rem;
    @media only screen and (min-width: 450px){
        justify-content: center;
        grid-gap: .5rem;
    }
  }

  .faci-box{
    margin-bottom: .4rem;
    border: 1px solid grey;
    @include shadow(.2, 4px);
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-gap: .8rem;
    padding: .3rem;
    opacity: 0;
    visibility: hidden;
    i{
      text-align: center;
      font-size: 24px;
    }
    &.show{
      opacity:1;
      visibility:visible;
    }
  }
}

  .fas.fa-fan{
    color: #805a19;
  }
  .fas.fa-shower{
    color: #27adb0;
  }
  .fas.fa-bed{
    color: #da5327;
  }
  .fas.fa-th-large{
    color: #394d24;
  }
  .fas.fa-couch{
    color: #3e2605;
  }
  .fas.fa-chair{
    color: #4d310b;
  }
  .fas.fa-parking{
    color: #fb1010;
  }
  .fas.fa-shield-alt{
    color: #ff524b;
  }

//5th section styling room imgs***************
.roomImgs{
  padding: 1rem .7rem 2rem;
  border-bottom: 1px solid #bbb;
}
.indi_room{
  &_pics_cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 15rem));
    justify-content: space-evenly;
    grid-gap: 1rem;
    &.noImage{
      background: #2d342f;
      color: #e3eff1;
      font-size: 1rem;
    }
  }
  &_pics_box{
    cursor: pointer;
    display: inline-block;
    @include shadow(.3, 5px);
    transition: transform .3s ease-out;
    &:hover{
      transform: scale(1.09);
    }
    .indi_room_img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

}

//6th section styling reviews ****************
.post_review{
  @include flex(column, center);
  border-bottom: 1px solid #bbb;;
  padding: 1rem 1rem;
}
.indi_review_cont{
  width: 100%;
  max-width: 65rem;
  margin: 1rem auto;
}

.indi_review{
    display:flex;
    @include shadow(.3px, 5px);
    align-items: center;
    border: 1px dashed #222;
    padding: .3rem .7rem;
    margin: 1rem 0;
    // transform: skew(8deg);
    @media only screen and (max-width: 900px){
      flex-direction: column;
    }
  .reviewerImgBox{
    // transform: skew(-8deg);
    // border: 1px solid pink;
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    order: 1;
    @include shadow(.3, 5px);
    @media only screen and (max-width: 900px){
      width: 5rem;
      height: 5rem;
      margin-top: .5rem;
      margin-bottom: 1rem;
    }
    .review_face{
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
      @media only screen and (max-width: 900px){
        width: 5rem;
        height: 5rem;
      }
    }
  }

  .reviewerText{
    order:5;
    @media only screen and (max-width: 900px){
      margin-bottom: 1rem;
    }
  }
}

//7th section styling related search
.related-search_cont{
  position:relative;
}
.related-search{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: .7rem;
  justify-items: center;
  position:relative;
  padding: 1rem 0;
  &--box{
    background: #fff;
    border: 1px solid grey;
    @include flex(column);
  }

  &--imgbox{
    width: 100%;
  }

  &--txtbox{
    margin-top: auto;
    background: #fff;
    width: 100%;
    .related-search--options{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
      grid-gap: .5rem;
      padding: 0 .3rem;
    }

    .indi-price-cont,
    .indi-room-config,
    .indi-loc-cont{
      border: 1px solid #bbb;
      padding: 0 .3rem;
        display: flex;
        align-items:center;
        justify-content:center;
        .indi-option--value{
          color: #181415;
        }
        .indian-rupee{
          width: .9rem;
          height: .9rem;
          // border: 1px solid green;
          margin-left: .1rem;
          margin-bottom: -2px;
        }
        .icon{
        width: 1.1rem;
        height: 1.1rem;
        fill: #6c6f78;
      }
    }

    .price-symb{
      transform: translateY(3px);
    }
    .indi-expl-btn-cont{
        @include flex();
      }
  }
}

//8th section styling modal
.modal{
  &-cont{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  display: grid;
  place-items: center;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  cursor:pointer;
  transition: opacity .2s ease-in;
  &.active{
    opacity: 1;
    visibility: visible;
  }
 }

 &-body{
   position:relative;
   width: 80%;
   max-width: 870px;
   height: 70%;
   background: #fff;
   border-radius: 10px;
   @include shadow(.3, 7px);
   .imageAbsent{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color:#e9fff5;
     font-size: 2rem;
     font-family: 'Lobster', serif;
     letter-spacing: 1.1px;
   }
   &.noImageText{
     background: #aaadb0;
     @include flex();
   }
  }

   &-pic{
     width: 100%;
     height: 100%;
    border-radius: 3px;
    object-fit: cover;
    position:relative;
   }
}

//9th section modal Message
.modal-msg-body{
  position:absolute;
  width: 70vw;
  max-width: 700px;
  height: 100px;
  background: #fff;
  // background: yellow;
  border-radius: 10px;
  @include flex();
  .message{
    @include flex();
    .icon-msg{
      width: 3rem;
      height: 3rem;
      margin-right: 1.5rem;
      &.liked{
        fill: #d71111;
      }
      &.unliked{
        fill: #6c6f78;
      }
    }
  }

  .msgText{
    font-size: 1.6rem;
    font-family: 'Lobster', serif;
    letter-spacing: 1px;
  }
}

//10. share message body
.share{
  &-modalBody{
    height: 100px;
    width: 600px;
    @include flex();
    border-radius: 10px;
    @include shadow(.3, 15px);
    background: #f9f7ef;
    .share-text{
      color: #0f0f03;
      font-size: 2rem;
      font-family: 'Lobster', serif;
      letter-spacing: 1.1px;
      .cartoon{
        position:relative;
        top: -5.4px;
        left: -4px;
      }
    }
  }

  &-ModalUni{
    width: 50vw;
    max-width: 550px;
    height: 280px;
    @media only screen and (max-width: 760px){
      height: 320px;
    }
    border-radius: 14px;
    background: #f7fdfe;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // @include flex(column, space-between);
    .shareBtnCont{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-gap: 1.3rem;
      align-items: center;
      padding: 1rem;

    .share-btn{
      border: none;
      height: 3.5rem;
      border-radius: 50px;
      cursor: pointer;
      transform: scale(1);
      color: #fff;
      transition: transform .4s ease-out;
        &:hover{
          transform: scale(1.04);
        }
      font-size: 1rem;
      font-family: 'Source Serif Pro', serif;
    }

    .button{
      i{
        font-size: 5rem;
        margin-right: .3rem;
      }
      &-fb{
        background: #3b5998;
        &:focus{
          outline: 4px dotted #3b5998;
          outline: 3px;
        }
      }
      &-em{
        background: #6f757d;
        &:focus{
          outline: 4px dotted #6f757d;
          outline: 3px;
        }
      }
      &-wh{
        background: #25D366;
        &:focus{
          outline: 4px dotted #25D366;
          outline: 3px;
        }
      }
      &-pi{
        background: #BD081C;
        &:focus{
          outline: 4px dotted #BD081C;
          outline: 3px;
        }
      }

      i{
        font-size: 5rem;
        margin-right: .3rem;
      }
    }
    }
  }
}
