.lessor-form {
  &-container {
    @media (max-width: 700px) {
      margin-top: 5rem;
    }
    margin-top: 6rem;
    margin-bottom: 1rem;
    padding: 0 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2rem;
    // overflow-x: hidden;
  }
}

.form-bg {
  display: inline-block;
  @media (max-width: 700px) {
    display: none;
  }
}

.form {
  &_body {
    max-width: calc(100vw - 2.4rem);
  }

  &_section + &_section {
    margin-top: 3rem;
    // border: 2px solid red;
  }

  &_control {
    position: relative;

    .text-input {
      display: block;
      width: calc(100% - 2.4rem);
      padding: 0.2rem;
      color: #0b0909;
      font-weight: bold;
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-family: "Source Serif Pro", serif;
      border-radius: 6px;
      max-width: 800px;
      border: 1px solid #3c4647;

      &::placeholder {
        font-size: 0.7rem;
        color: #718177;
        font-family: "Poppins", serif;
        letter-spacing: 1px;
        font-weight: normal;
      }

      &:focus {
        outline: none;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
      }
    }

    i {
      position: absolute;
      top: 12px;
      right: 10px;
      font-size: 0.7rem;
      background: #fff;
      display: none;
      @media only screen and (min-width: 1200px) {
        right: 19px;
      }
    }

    .error-msg {
      display: inline-block;
      text-transform: uppercase;
      font-family: "Poppins", serif;
      font-size: 0.6rem;
      letter-spacing: 1px;
      color: #e82410;
      font-weight: bold;
      padding: 0.2rem;
      display: none;
    }

    &.success {
      .text-input {
        border: 2px solid #2ecc71;
      }

      .fa-check-circle {
        color: #2ecc71;
        display: block;
      }
    }

    &.error {
      .text-input {
        border: 2px solid #e74c3c;
      }

      .fa-exclamation-circle {
        color: #e74c3c;
        display: block;
      }

      .error-msg {
        display: block;
      }
    }
  }

  &_control + &_control {
    margin-top: 1.1rem;
  }
}

.city {
  &-Box {
    // background: yellow;
    width: calc(100% - 2.4rem);
    &.error {
      .fa-exclamation-circle {
        color: #e74c3c;
        display: block;
      }

      .error-msg {
        display: block;
      }
    }
    &.success {
      .fa-check-circle {
        color: #2ecc71;
        display: block;
      }
    }
  }

  &-select-box {
    display: flex;
    flex-direction: column;
    // max-width: calc(100% - 2.4rem);

    .selected {
      cursor: pointer;
      order: 1;
      border: 1px solid #3c4647;
      padding: 0.1rem 0.3rem;
      @include flex(row, space-between);
      border-radius: 6px;
      .cityclicked {
        color: #4a504d;
        font-family: "Poppins", serif;
        letter-spacing: 1px;
        font-weight: normal;
        font-size: 0.7rem;
        &.active {
          color: #0e1413;
          font-weight: bold;
          font-size: 1rem;
          font-family: "Source Serif Pro", serif;
        }
      }
    }
    .select-icon {
      width: 27px;
      height: 27px;
      cursor: pointer;
      @include flex(column);
      i {
        position: relative;
        left: 0px;
        top: 0px;
        color: #717283;
        display: inline-block;
        font-size: 15px;
        transform: rotateX(0deg);
        &.active {
          transform: rotateX(180deg);
        }
        &.secondActive {
          margin-top: -0.3rem;
          transform: rotateX(180deg);
        }
      }
    }
  }

  &-option-cont {
    order: 5;
    // width: 100%;
    background-color: #fbf9fe;
    transition: transform 0.3s linear;
    border: 1px solid #3c4647;
    border-radius: 6px;
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transform: scaleY(0);
    position: relative;
    z-index: 60;
    transform-origin: top;
    &.active {
      max-height: 100%;
      visibility: visible;
      margin-top: 6px;
      opacity: 1;
      transform: scaleY(1);
    }
    &.error {
      border: 2px solid #e74c3c;
    }
    .city-option {
      border: 2px solid red;
      cursor: pointer;

      input {
        display: none;
      }
      &:hover {
        .city-Name {
          background: #625d67;
          color: #f0ecec;
        }
      }
    }

    .city-Name {
      padding: 0.3rem;
      border-radius: 6px;
      display: block;
      cursor: pointer;
      color: #303538;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 1px;
      font-family: "Source Serif Pro", serif;
    }
  }
}

.radio_control {
  &.error {
    .radio_input {
      border-radius: 6px;
      border: 2px solid #e74c3c;
    }
    .fa-exclamation-circle {
      color: #e74c3c;
      display: block;
    }
  }

  .radio-input {
    &:not(:last-child) {
      margin-bottom: 0.9rem;
    }
  }
}

.space-Box {
  width: 100vw;
  margin-top: 0.5rem;
  padding-top: 0.3rem;
}
.room_control {
  &.error {
    input {
      border-radius: 6px;
      border: 2px solid #e74c3c;
    }
    .fa-exclamation-circle {
      color: #e74c3c;
      display: block;
    }
    .section-heading {
      margin-top: 0rem;
    }
  }

  .radio-input {
    &:not(:last-child) {
      margin-bottom: 0.9rem;
    }
  }
}

.space-desc-cont {
  max-width: 800px;
  &.error {
    .space-Box {
      border-radius: 6px;
      border: 2px solid #e74c3c;
    }
  }
}

.edit-note {
  letter-spacing: 1px;

  .asterick {
    font-size: 1.2rem;
    display: inline-block;
    transform: translateY(3px);
    color: #da2310;
    font-weight: bold;
    // border: 1px solid #000;
  }

  .occupancy-text {
    width: 100vw;
    max-width: 700px;
  }

  .state-text {
    display: inline-block;
    margin-top: 1.7rem;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-family: "Source Serif Pro", serif;
    font-weight: bold;
  }
}

.house-preview {
  position: relative;
  width: calc(400px - 2.4rem);
  height: 250px;
  border: 1px solid #637171;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: transform 0.4s ease;
  transform: scale(1);
}

.houseImg {
  width: calc(400px - 2.4rem);
  height: 250px;
  object-fit: cover;
  display: none;
}

.roomImgPreviewCont {
  @media (max-width: 500px) {
    position: relative;
    top: 3rem;
  }
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-top: 1rem;
  grid-gap: 2rem;
  // border: 6px solid blue;
}

.room-previewBox {
  // border: 4px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  align-items: center;

  @media (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: 24% auto;
    grid-gap: 0.2rem;
    justify-content: center;
  }
  .pic-input {
    position: relative;
    height: 70px;
  }
  .room-preview {
    border: 1px solid #637171;
    min-height: 200px;
    @media (max-width: 500px) {
      width: calc(100% - 2.4rem);
    }
  }
}

.big-preview {
  @media (max-width: 500px) {
    position: relative;
    top: 3rem;
  }
}

.roomsAllImg {
  object-fit: cover;
  display: block;
  // display: none;
}

.rooms-heading {
  @media (max-width: 500px) {
    position: relative;
    top: 3rem;
  }
}

.desc {
  @media (max-width: 500px) {
    position: relative;
    top: 3rem;
    // border: 3px solid red;
  }
}

.room-rent {
  @media (max-width: 500px) {
    position: relative;
    top: 3rem;
    // border: 3px solid red;
  }
}

.show {
  opacity: 1;
  visibility: visible;
}

.holder-list {
  list-style-type: disc;
  margin-left: 1rem;
  display: block;
  margin-top: 1rem;
}

.holder-item + .holder-item {
  margin-top: 1rem;
}

.upload-details {
  margin-bottom: 1rem;
}

.occup {
  padding-top: 1rem;
  @media (max-width: 500px) {
    position: relative;
    top: 3rem;
  }
}

.stateInfo {
  cursor: not-allowed;
}

.vaccantBox {
  font-size: 13px;
  color: #1d6bc9;
}

.posting_owner {
  margin-bottom: 0.6rem;
}

.form-footer {
  position: relative;
  top: 5rem;
}

//edit form Styling

.post {
  &--switch {
    .switch--text {
      margin-right: 1rem;
      font-size: 1.2rem;
      font-family: "Source Serif Pro", serif;
      font-weight: bolder;
      &.slide {
        font-weight: lighter;
        color: #acabb3;
      }
    }
    .occp {
      font-weight: lighter;
      color: #acabb3;
      &.slide {
        font-weight: bolder;
        color: #000000;
      }
    }

    input {
      display: none;
    }
    // border: 2px dashed red;
    .sliderToggle {
      border-radius: 15px;
      border: 1px solid grey;
      background: #f16a64;
      padding: 0.1rem 1.5rem;
      position: relative;
      cursor: pointer;

      .circle,
      .sliderev {
        transition: transform 0.4s ease;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0.05rem;
        width: 15px;
        height: 100%;
        border-radius: 50%;
        background: #eaecf1;
      }
      .circle {
        transform: translateX(210%);
        &.slide {
          transform: translateX(0);
        }
      }

      .sliderev {
        transform: translateX(0%);
        &.slide {
          transform: translateX(210%);
        }
      }
    }
  }
}
