.lessor-form{
  &-container{
    margin-top: 6rem;
    margin-bottom: 1rem;
    // border: 3px solid brown;
    padding: 0 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    }
}

.form-bg{
  display: inline-block;
  @media only screen and (min-width: 1000px){
    .svg-bg{
      max-width: 90%;
      max-height: 90%;
    }
  }
  @media only screen and (max-width: 1000px) and (min-width: 700px){
    .svg-bg{
      max-width: 85%;
      max-height: 85%;
    }
  }
}

.form{
  &_body{
    margin-left: 1rem;
    @media only screen and (min-width: 700px) and (max-width: 1000px){
        margin-left: -1rem;
        padding: 0 1rem;
        border-left: 1px solid #ababbd;
      }

    @media only screen and (min-width: 1000px){
        margin-left: -1rem;
        padding: 0 1rem;
        border-left: 1px solid #ababbd;
      }
    }

  &_section{
  }

  &_section + &_section{
    margin-top: 1.6rem;
    border-top: 1px solid #23251f;
  }

  &_control{
    position:relative;
    .text-input{
      display: block;
      width: 100%;
      padding: .4rem .2rem;
      color: #0b0909;
      font-weight: bold;
      font-size: 1.1rem;
      letter-spacing: 1px;
      font-family:'Source Serif Pro', serif;
      border-radius: 6px;
      max-width: 800px;
      border: 1px solid #3c4647;
      &::placeholder{
        font-size: .7rem;
        color: #718177;
        font-family: 'Poppins', serif;
        letter-spacing: 1px;
        font-weight: normal;
      }

      &:focus{
        outline:none;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4);
      }
    }

    i{
      position:absolute;
      top:8px;
      right: 10px;
      font-size: .7rem;
      background: #fff;
        @media only screen and (min-width: 1200px){
        right: 19px;
      }
      &:first-child{
        color: #2ecc71;
        visibility: hidden;
      }
      &:nth-child(2){
        color: #e74c3c;
        visibility: hidden;
      }
     }

     &.success .text-input{
       border: 2px solid #2ecc71;
     }

      &.error .text-input{
         border: 2px solid #e74c3c;
       }

     .error-msg{
       display: inline-block;
       text-transform: uppercase;
       font-size: .7rem;
       letter-spacing:1px;
       color: #e74c3c;
       padding: .2rem;
       display: none;
     }

  }


    &_control + &_control{
      margin-top: 1.1rem;
    }
  }

.edit-note{
letter-spacing: 1px;
  .asterick{
    font-size: 1.2rem;
    display: inline-block;
    transform: translateY(3px);
    color: #da2310;
    font-weight: bold;
    // border: 1px solid #000;
  }
  .occupancy-text{
    // display: inline-block;
    text-align: center;
    font-size: .9rem;
    color: #68636f;
    font-family: 'Source Serif Pro', serif;
    transform: translateY(-3px);
    // line-height: 1.4;
    width: 100%;
    max-width: 700px;
  }

  .state-text{
    display: inline-block;
    margin-top: .7rem;
    font-size: .9rem;
    margin-right: .5rem;
    margin-left: .5rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
  }

}

.house-preview{
  position:relative;
  width: 400px;
  height: 250px;
  border: 1px solid #637171;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: transform .4s ease;
  transform: scale(1);
  &:hover{
    transform: scale(1.02);
    @include shadow(.3, 5px);
  }
}
.houseImg{
  width: 400px;
  height: 250px;
  object-fit: cover;
  display: none;
}

.roomImgPreviewCont{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(70px, 120px));
  justify-content: space-between;
  grid-gap: .5rem;
  margin-top: 1rem;
  // border: 2px solid red;
}

.room-preview{
  // width: 100px;
  min-height: 70px;
  position:relative;
  border: 1px solid #637171;
  cursor: pointer;
  transition: transform .4s ease;
  transform: scale(1);
  &:hover{
    transform: scale(1.05);
    @include shadow(.3, 5px);
  }
}

.roomsAllImg{
  object-fit: cover;
  display: block;
  // display: none;
}

.show{
  opacity: 1;
  visibility: visible;
}

.holder-list{
  list-style-type: disc;
  margin-left: 1rem;
  display: block;
}

.upload-details{
  margin-bottom: 1rem;
}

.occup{
  border-top: 1px solid #23251f;
  padding-top: 1rem;
}

.stateInfo{
  cursor: not-allowed;
}
