.lessor-form{
  &-container{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    }
  &-form-heading{

  }

}

.form-bg{
  // border: 1px solid blue;
  @media only screen and (min-width:1000px){
    .svg-bg{
      max-width: 80%;
      max-height: 80%;
    }
  }
}
