* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 0.625rem; //1rem = 10px
  font-family: var(--pr-font-family);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  &::-webkit-scrollbar {
    width: 0.5rem;
    background: #1a1919;
  }
  &::-webkit-scrollbar-track {
    // border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
}

img {
  max-width: 100%;
}

a {
  // font-family: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

//navbar styling

.nav,
.other-page-navbar {
  --logo-clr: #eeeeee;
  --login-clr: #dfe4eb;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  padding: 0 0.9rem;
  // border: 2px solid blue;
  &_list {
    display: flex;
    align-items: center;
    &--items {
      cursor: pointer;

      &:nth-child(2) {
        margin-left: auto;
        text-transform: uppercase;
        @include flex(column);
      }

      &:nth-child(3) {
        margin: 0.4rem 0.4rem 0.4rem 1.5rem;
        @include flex(column);
        transition: background 0.3s ease;
      }
    }
  }
}

.other-page-navbar {
  background: #07080f;
  margin-bottom: 2rem;
}
//Intersection Observer API classes Styling
.nav-scrolled {
  --logo-clr: #c7cec8;
  --login-clr: #b0b7d6;
  @include shadow(0.1, 3px);
  background: #07080f;
}

//footer section styling
.footer {
  margin-top: auto;
  color: #fff;
  padding: 2rem 1rem;
  background-color: rgba(#2e2e34, 1);

  &-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
  }

  &-list {
    &:nth-of-type(1) {
      align-self: start;
    }
  }

  &-items {
    // border: 1px solid red;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.8rem;
  }

  &-disclaimer {
    display: block;
    margin: 0;
    width: 100%;
    position: relative;
    line-height: 1.4;
    font-size: 0.7rem;
    letter-spacing: 1.1px;
    color: #c1ccc9;

    .disclaimer {
      font-size: 0.8rem;
      letter-spacing: 1.1px;
      color: #f1e8e7;
    }

    &::before {
      position: absolute;
      content: "";
      top: -14px;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 2px;
      border-radius: 20px;
      background-color: #d2eede;
    }
  }

  &-ack {
    text-align: center;
    color: #fff;
    background: rgb(6, 5, 6);
    padding: 0.6rem;
  }
}

//user icon styling

.userCont {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  cursor: pointer;

  .userImg {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out;
    transform: scale(1.04);
  }

  &:hover {
    .userImg {
      transform: scale(1.01);
    }
  }
}
//login Modal

.loginModal {
  &-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex();
    transition: transform 0.4s linear;
    z-index: 500;
    opacity: 0;
    transform: translateY(-200%);
    opacity: 0;
    transition: transform 0.9s ease, opacity 0.2s linear;
    &.show {
      transform: translateY(0);
      .loginModal-body,
      .signModal-body {
        transform: translateY(0);
        opacity: 1;
      }
      opacity: 1;
    }
  }

  &-body {
    width: 90vw;
    max-width: 800px;
    min-height: 500px;
    background: #fff;
    @include shadow(0.3, 12px);
    border-radius: 8px;
    padding: 0 0.4rem;
    display: grid;
    position: relative;
    grid-template-columns: 40% 60%;
    grid-template-areas: "content svgsect";
    transform: translateY(-100%);
    opacity: 0;
    // transition: transform .3s linear, opacity .1s ease;
    grid-template-rows: 1fr;
    @media only screen and (max-width: 700px) {
      top: 5rem;
      grid-template-columns: 1fr;
      grid-template-rows: 43% 60%;
      grid-template-areas: "svgsect" "content";
    }

    .content-section {
      grid-area: content;
      padding: 0 0.2rem 2rem;
      position: relative;
      border-right: 3px dashed #141113;
      @include flex(column);
      @media only screen and (max-width: 700px) {
        border-right: none;
      }

      .headingshadow {
        position: absolute;
        z-index: 6;
        top: 1.4rem;
        width: 79%;
        max-width: 150px;
        height: 60px;
        border-radius: 60%;
        transform: rotateX(80deg);
        background: #e9e5f0;
      }

      .loginForm {
        width: 100%;
        height: 100%;
        padding: 0 0.3rem;
        // border: 2px dashed red;
        position: relative;
        top: 1rem;
        flex: 1;
        @include flex(column, center);

        input {
          width: 100%;
          max-width: 400px;
          padding: 0.3rem;
          margin-bottom: 1.5rem;
          border-radius: 3px;
          font-size: 1rem;
          color: #000;
          font-weight: bold;
          letter-spacing: 1px;
          font-family: "Poppins", serif;
          border: 1px solid #3a444f;
          &::placeholder {
            font-size: 0.8rem;
            color: #8d8c8e;
            font-weight: normal;
          }
          &:focus {
            border: none;
            outline: 3px solid #00bfa6;
          }
        }
      }
    }

    .svg-section {
      grid-area: svgsect;
      background: url("../images/login.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      @media only screen and (max-width: 700px) {
        margin-top: 1rem;
      }
    }
  }
}
.signModal {
  &-cont {
    position: fixed;
    top: 0;
    z-index: 700;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex();
    transform: translateY(-100%);
    transition: transform 0.4s ease-out;
  }

  &-body {
    // margin-top: .5rem;
    // margin-top: -1rem;
    transition: transform 0.3s linear, opacity 0.1s ease;
    transform: translateY(-100%);
    width: 80vw;
    max-width: 860px;
    min-height: 500px;
    background-color: #fff;
    @include shadow(0.5, 9px);
    opacity: 0;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    grid-template-areas: "signcontent-section signsvg-section";
    @media only screen and (max-width: 750px) {
      position: relative;
      top: 5rem;
      height: 600px;
      margin-bottom: 5rem;
      overflow-y: visible;
      grid-template-columns: 1fr;
      grid-template-rows: 40% 60%;
      grid-template-areas:
        "signsvg-section"
        "signcontent-section";
    }
    .signcontent-section {
      position: relative;
      grid-area: signcontent-section;
      border-right: 2px dashed #090506;
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: 750px) {
        margin-top: -1.5rem;
        border-right: none;
      }
      .signForm {
        width: 100%;
        padding: 0 0.5rem;
        flex: 1;
        // border: 2px dashed red;
        position: relative;
        padding-bottom: 1rem;
        // top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media only screen and (max-width: 750px) {
          // margin-top: 1rem;
          margin-bottom: 3rem;
        }
        input {
          width: 100%;
          padding: 0.3rem;
          font-size: 1rem;
          font-weight: bold;
          color: #110b10;
          font-family: "Poppins", serif;
          border: 1px solid #91908d;
          margin-bottom: -0.3rem;
          &:focus {
            outline: 2px solid #da450b;
          }
          &::placeholder {
            font-size: 0.8rem;
            color: #63625a;
            font-weight: normal;
          }

          @media only screen and (max-width: 750px) {
            margin-bottom: 1rem;
          }
        }
      }
    }

    .signheadingshadow {
      position: absolute;
      top: 0.3rem;
      width: 150px;
      height: 100px;
      border-radius: 60%;
      transform: rotateX(80deg);
      background: #e9e5f0;
    }

    .signsvg-section {
      grid-area: signsvg-section;
      background: url("../images/signup.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      @media only screen and (max-width: 750px) {
        background-size: 100% 90%;
      }
    }
  }
}

.userModal-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  transform: translateY(-200%);
  // opacity:0;
  &.show {
    transform: translateY(0);
    .userBody {
      transform: translateY(0);
      opacity: 1;
    }
    opacity: 1;
  }
}
.userBody {
  position: absolute;
  top: 3.7rem;
  right: 1rem;
  width: 100px;
  height: 60px;
  background-color: #fff;
  z-index: 20;
  @include shadow(0.3, 9px);
  transition: transform 0.3s linear, opacity 0.1s ease;
  transform: translateY(-100%);
  opacity: 0;
  &::after {
    content: "";
    position: absolute;
    top: -0.6rem;
    right: 0.3rem;
    width: 11px;
    height: 11px;
    background-color: #eff113;
    transform: rotate(45deg);
    z-index: -1;
  }
}
.userlist {
  position: relative;
  z-index: 6;
  background-color: #fff;
  border: 2px dashed #000;
  height: 100%;
  @include flex(column, space-between);
  .pro {
    width: 100%;
  }
  .useritems {
    width: 100%;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: "Source Serif Pro", serif;
    text-align: center;
    transition: transform 0.3s ease;
    // transform: scale(.95);
    @include flex();
    color: #9c5f02;
    &:first-child {
      border-bottom: 2px dashed #a293a2;
      padding: 0.25rem 0;
    }
    &:nth-child(2) {
      // padding-bottom: .25rem;
      height: 100%;
    }
    &:hover {
      background: #eee;
      // transform: scale(1);
    }
  }
}

//footer section typography

.footer {
  &-links {
    font-size: 1rem;
    color: #c6c8c9;

    &:hover {
      outline: 3px dotted var(--link-hover-clr-1);
      outline-offset: 7px;
    }

    &:focus {
      outline: 3px dotted #c6c8c9;
      outline-offset: 7px;
    }

    &-logo {
      font-size: 2rem;
      color: var(--rentspace-clr);
      letter-spacing: 1px;
      font-weight: 700;
      font-family: var(--pr-font-family);
    }
  }

  &-list-heading {
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: 2px;
    border-bottom: var(--border-bottom);
  }

  &-ack {
    text-align: center;
    color: #fff;
    background: #060506;
    padding: 0.6rem;
    font-size: 0.9rem;
    font-family: "Source Serif Pro", serif;
  }
}
