//HOME PAGE TYPOGRAPHY

//nav section typography
.nav-logo {
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  color: var(--logo-clr);
}

.login{
  font-size: 1.1rem;
  color: var(--login-clr);
  letter-spacing: 1px;
}

.join {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1rem;
  background: #e3662a;
  color: #fff;
  border-radius: 22px;
  padding: 0.2rem 0.8rem;
  &:hover{
    color: #e3662a;
    background: #fff;
  }
}
//hero section typography
.hero {
  &__text {
    display: inline-block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &_heading {
    font-family: 'Source Serif Pro', serif;
    font-size: 3rem;
    color: #e9eaf6;
    letter-spacing: 1px;
    line-height: 1.4;
  }

  &_desc {
    font-family: 'Lobster';
    font-size: 2.3rem;
    letter-spacing: 1px;
    max-width: 650px;
    color: #ece1d7;
  }
}

.les_lor{
  &-heading{
    color: #e1f9f7;
    font-family: 'Source Serif Pro', Sans-serif;
  }
  &-desc{

  }
}

.primary_heading {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: #000205;
  border-bottom: var(--border-bottom);
  display: inline-block;
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1c0808;
  border-bottom: var(--heading-border-bottom);
  margin-bottom: 1.2rem;
  font-weight: bolder;
  display: inline-block;
}
//service section typography

.services {
  &-heading {
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: #0d0e13;
    letter-spacing: 1.1px;
    transition: transform 0.5s ease;
    transform-origin: right;

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      border-bottom: var(--border-bottom);
      transform: scale(0);
      transform-origin: left;
    }
  }

  &-desc {
    margin-bottom: 0.6rem;
    color: #403e49;
    display: inline-block;
    font-weight: 400;
    margin: 1rem auto 0;
    width: 300px;
    font-size: 0.9rem;
    word-wrap: wrap;
    line-height: 1.7;
  }
}
//explore section typography

.space {
  &-name {
    font-family: 'Source Serif Pro', Sans-Serif;
    letter-spacing: 1px;
    font-size: 2rem;
    margin: 1rem 0;
    color: #050303;
    display: inline-block;
    border-bottom: var(--border-bottom);
  }

  &-desc {
    font-size: 1.2rem;
    width: 80%;
    margin: 0.4rem auto;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #170d06;
    padding: 0.7rem 0.3rem;
    flex-wrap: wrap;
  }
}

.price {
  font-size: 1.2rem;
  color: #c6390d;
  transform: translateY(-.6rem);
}

.address,
.rooms {
  position: relative;
  top: -.4rem;
  left: 0.2rem;
  font-size: 1.2rem;
  color: #140804;
}

.address {
  font-size: 1.1rem;
}

.cost {
  position: relative;
  font-size: 1.2rem;
  color: #140804;
  // top: -.1rem;
}
//reviewer section typography

.reviewer {
  &_name {
    font-size: 1.2rem;
    color: #080e0c;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Poppins', serif;
    display: inline-block;
  }

  &_city {
    display: block;
    font-family: 'Poppins', serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #91a899;
    font-size: 1.1rem;
    text-transform: uppercase;
    // margin-bottom: 0.5rem;
  }

  &_text {
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #000000;
  }
}
//footer section typography

.footer {
  &-links {
    font-size: 1rem;
    color: #c6c8c9;

    &:hover {
      outline: 3px dotted var(--link-hover-clr-1);
      outline-offset: 7px;
    }

    &-logo {
      font-size: 2rem;
      color: #c4e4c9;
      letter-spacing: 1px;
      font-weight: 700;
      font-family: 'Source Serif Pro';
    }
  }

  &-list-heading {
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: 2px;
    border-bottom: var(--border-bottom);
  }

  &-ack {
    text-align: center;
    color: #fff;
    background: #060506;
    padding: 0.6rem;
    font-size: 0.9rem;
    font-family: 'Source Serif Pro', serif;
  }
}
