.hero__text {
  display: inline-block;
  position: absolute;
  top: 13rem;
  left: 4rem;
}

.hero {
  &_heading {
    font-size: 3rem;
    color: rgb(230, 214, 195);
    letter-spacing: 1px;
    line-height: 1.4;
  }

  &_desc {
    font-size: 1.4rem;
    max-width: 350px;
    color: rgb(236, 225, 215);
  }
}

.primary_heading {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: rgb(11, 38, 115);
  border-bottom: var(--border-bottom);
  display: inline-block;
  // animation-name: pulse;
  // animation-duration: 1s;
  // animation-iteration-count: infinite;
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #342ac7;
  border-bottom: var(--heading-border-bottom);
  margin-bottom: 1.2rem;
  font-weight: bolder;
  display: inline-block;
  // animation-name: fadeInDown;
  // animation-duration: 1s;
  // animation-iteration-count: 1;
}

.services {
  &-heading {
    font-size: 1.1rem;
    position: relative;
    display: inline-block;
    font-family: 'Poppins',sans;
    color: rgb(13, 14, 19);
    letter-spacing: 1.1px;
    transition: transform 0.5s ease;
    transform-origin: right;

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      border-bottom: var(--border-bottom);
      transform: scale(0);
      transform-origin: left;
    }
  }

  &-desc {
    margin-bottom: 0.6rem;
    color: rgb(64, 62, 73);
    display: inline-block;
    // border: 1px solid green;
    font-weight: 400;
    margin: 1rem auto 0;
    width: 300px;
    font-size: 0.9rem;
    word-wrap: wrap;
    line-height: 1.7;
  }
}

.space {
  &-name {
    font-family: 'Playfair Display', Sans-Serif;
    font-size: 2rem;
    margin: 1rem 0;
    color: rgb(54, 79, 227);
  }

  &-desc {
    font-size: 1.2rem;
    width: 80%;
    margin:.4rem auto;
    line-height: 1.2;
    letter-spacing: 1px;
    color: rgb(23, 13, 6);
    text-align: center;
    padding: .7rem .3rem;
    flex-wrap: wrap;
  }
}

.price{
font-size: 1.2rem;
color: rgb(198, 57, 13);
transform: translateY(-.6rem);
}

.address,
.rooms,
{
  position:relative;
  top: -.4rem;
  left: .2rem;
  font-size: 1.2rem;
  color: rgb(20, 8, 4);
}

.cost{
  position:relative;
  font-size: 1.2rem;
  color: rgb(20, 8, 4);
  // top: -.1rem;
}

.reviewer {
  &_name {
    font-size: 1.2rem;
    color: rgb(8, 14, 12);
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Source Serif Pro', serif;
  }

  &_city {
    display:block;
    margin-top: 0.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &_text {
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
  }
}

//footer section styling
.footer{
    &-links{
    font-size: 1rem;
    color: #bbb;
    &:hover{
      outline: 3px dotted var(--link-hover-clr-1);
      outline-offset: 7px;
    }
    &-logo{
      font-size: 2rem;
      color: rgb(191, 208, 228);
      letter-spacing: 3px;
      font-family: 'Playfair Display';
    }
  }
  &-list-heading{
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: 2px;
    border-bottom: var(--border-bottom);
  }
  &-ack{

  }
}
