//navbar section typography
.nav-logo {
  font-size: 2.4rem;
  letter-spacing: 1px;
  font-family: var(--pr-font-family);
  color: var(--logo-clr);
}

.login {
  font-size: 1.1rem;
  color: var(--login-clr);
  letter-spacing: 1px;
}

.join {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.1rem;
  background: #e3662a;
  color: #fff;
  border-radius: 22px;
  padding: 0.2rem 0.8rem;

  &:hover {
    color: #e3662a;
    background: #fff;
  }
}

.footer-links,
.other-footer-links {
  color: #969695;
  &-logo {
    color: #dbd6d6;
  }
}
//HOME PAGE TYPOGRAPHY

//hero section typography

.hero {
  &__text {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &_heading {
    letter-spacing: 1px;
    font-family: var(--pr-font-family);
    color: var(--rentspace-clr);
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 0.7rem;
    letter-spacing: 2px;
    line-height: 1.4;
    font-weight: bold;
    @media (max-width: 950px) {
      font-size: 2rem;
    }
  }

  &_desc {
    font-family: var(--sec-font-family);
    font-size: 1.7rem;
    line-height: 1.9;
    letter-spacing: 1px;
    font-weight: normal;
    max-width: 650px;
    color: #e7e5e2;
  }
}

.les-heading {
  color: var(--rentspace-clr);
  font-family: var(--pr-font-family);
  font-size: 1.5rem;
  font-weight: bold;
}

.primary_heading {
  font-size: 2rem;
  color: #000205;
  border-bottom: var(--border-bottom);
  display: inline-block;
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1c0808;
  border-bottom: var(--heading-border-bottom);
  font-weight: bolder;
  display: inline-block;
}
//service section typography

.services {
  &-heading {
    font-size: 1.1rem;
    position: relative;
    display: block;
    font-weight: 700;
    color: #424242;
    letter-spacing: 1.1px;

    &-about {
      margin-top: 0.5rem;
    }
  }

  &-desc {
    margin-bottom: 0.6rem;
    color: #a7a4a4;
    display: inline-block;
    font-weight: 400;
    font-size: 0.9rem;
    word-wrap: wrap;
    line-height: 1.7;
    max-width: 450px;
    // border: 2px solid yellow;
  }
}

//explore section typography
.space {
  &-name {
    font-family: var(--sec-font-family);
    letter-spacing: 1px;
    font-size: 2rem;
    margin: 1rem 0 1.5rem;
    color: #050303;
    display: inline-block;
    border-bottom: var(--border-bottom);
  }

  &-about {
    padding: 1rem;
    font-size: 0.89rem;
    color: #a0a0a0;
    letter-spacing: 1px;
    @media (min-width: 701px) {
      max-width: 600px;
    }
    // border: 2px solid red;
  }
}

.price {
  color: #c6390d;
  transform: translateY(-0.6rem);
}

.address,
.rooms {
  font-family: var(--sec-font-family);
  color: #6d6d6c;
}

.cost {
  font-family: var(--sec-font-family);
  position: relative;
  color: #6d6d6c;
}
//reviewer section typography

.reviewer {
  &_name {
    font-size: 1.2rem;
    color: #7e807f;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: var(--pr-font-family);
  }

  &_city {
    font-family: var(--pr-font-family);
    font-weight: normal;
    letter-spacing: 1.5px;
    color: #b0c4b7;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  &_text {
    width: 100%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    color: #5e5d5d;
    font-family: var(--sec-font-family);
  }
}

//options details styling
.option-detail {
  font-size: 1.2rem;
  color: #ddf6ee;
}

.room-det {
  margin-left: 0.4rem;
}

//Lessor form typography

.lessor-form-heading {
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins";
  color: #f24539;
  text-align: center;
  border-bottom: 1px dotted #0c1d22;
  max-width: calc(100vw - 2.4rem);
  @include flex();
  @media only screen and (max-width: 600px) {
    margin-top: 2rem;
  }
}

.section-heading {
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  font-family: "Poppins", serif;
  color: #f16a64;
}

.space-type-label {
  font-size: 0.8rem;
  font-family: "Poppins", serif;
  position: relative;
  top: -2px;
  margin-left: 0.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-hint {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #3c4244;
}

.space-desc {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.2;
  color: #000000;
  border: 1px solid #0e0911;
  font-family: "Source Serif Pro", serif;
  &::placeholder {
    font-size: 0.9rem;
    color: #96a193;
  }

  &:focus {
    outline: none;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
}

.holder-item {
  font-size: 0.8rem;
  font-family: "Source Serif Pro", serif;
  color: #5b5d5b;
  letter-spacing: 1px;
}
.holder-item + .holder-item {
  margin-top: 0.3rem;
}

.photo-size {
  position: relative;
  top: 0.8rem;
  font-size: 0.8rem;
  letter-spacing: 1.1px;
  font-family: "Source Serif Pro", serif;
  color: #9991a1;
}

.preview-img {
  font-size: 1rem;
  font-family: "Source Serif Pro", serif;
  color: #9c9f93;
  @include flex();
}

//individual house typography
.house-name {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: "Poppins", serif;
  border-bottom: 1px solid #d78b2e;
  // @include shadow(.3, 5px);
  padding: 0.3rem 0.3rem 0.2rem;
  color: #2b2f2f;
}

.indi-heading {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: "Poppins", serif;
  padding: 0.3rem 0.3rem 0.11rem;
  margin-left: 0.2rem;
  text-transform: uppercase;
  // border-bottom: 1px solid #d78b2e;
  @include flex();
}

.indi-cost,
.offer {
  margin-left: 0.2rem;
  // font-size: 1.5rem;
  // color: #1a1f1f;
  letter-spacing: 1.1px;
  padding: 0 0.3rem;
  font-family: "Poppins", serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: #434044;
  margin-top: 0.2rem;
}

.offer {
  margin-top: 0.7rem;
  opacity: 0;
  visibility: hidden;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.address-details {
  font-family: "Poppins", serif;
}
.ad {
  font-family: "Poppins", serif;
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.4rem;
  margin-top: 0.2rem;
  line-height: 1.5;
  color: #434044;
}

.owner {
  &_name,
  &_phone,
  &_email {
    margin-left: 0.4rem;
    margin-top: 0.7rem;
    font-family: "Poppins", serif;
    color: #585b62;
  }
  &_name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &_phone {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  &_email {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    .own_email {
      font-size: 1rem;
      color: #b52147;
      &:hover {
        color: #2aa187;
      }
      &:focus {
        outline: 3px dotted #b52147;
        outline-offset: 2px;
      }
    }
  }
}

.act_desc {
  font-family: "Poppins", serif;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-left: 0.4rem;
}

.fac-type {
  font-size: 0.75rem;
  font-family: "Source Serif Pro", serif;
  font-weight: bold;
  text-transform: uppercase;
}

.reviewerText {
  // transform: skew(-8deg);
  font-size: 0.84rem;
  line-height: 1.3;
  letter-spacing: 1.1px;
  font-family: "Poppins", serif;
  // max-width: 600px;
}

.share-ModalHeading {
  text-align: center;
  display: block;
  margin-top: 1.4rem;
  font-size: 2rem;
  letter-spacing: 1.1px;
  font-family: "Lobster", serif;
}

//login modal heading
.loginheading,
.signheading {
  // display: inline-block;
  margin: 2rem auto 4rem;
  position: relative;
  top: 6rem;
  // border: 26 dotted red;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Source Serif Pro", serif;
  color: #595a60;
  @include flex(column, center);
  @media only screen and (max-width: 700px) {
    top: 0;
  }
}

.signheading {
  top: 1rem;
  @media only screen and (max-width: 750px) {
    top: 0;
  }
}

// @include shadow(.1, 7px);

//review post heading
.reviewheading {
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-family: "Poppins";
  margin-top: 1rem;
  color: #edf5e1;
  // color: #fff;
  // color: #060306;
}

///Media query for <530px ***************************************

//navbar section typography

.nav-logo {
  @media (max-width: 528px) {
    font-size: 1rem;
  }
}

.login {
  @media (max-width: 528px) {
    font-size: 0.6rem;
  }
}

.join {
  @media (max-width: 528px) {
    font-size: 0.6rem;
  }
}

//Footer mediaQuery for <500px
.footer,
.other-footer {
  &-links {
    @media (max-width: 528px) {
      font-size: 0.8rem;
    }
  }

  &-list-heading {
    @media (max-width: 528px) {
      font-size: 1rem;
    }
  }
}

//Repeating Headings styling
.primary_heading {
  @media (max-width: 528px) {
    font-size: 1rem;
  }
}

.secondary-heading {
  @media (max-width: 528px) {
    font-size: 0.8rem;
  }
}

//index page typography
.hero {
  &_heading {
    @media (min-width: 507px) and (max-width: 528px) {
      font-size: 2rem;
    }
  }

  &_desc {
    @media (max-width: 528px) {
      font-size: 0.8rem;
    }
  }
}

.services {
  &-heading {
    @media (max-width: 528px) {
      font-size: 0.82rem;
    }
  }
}

.space {
  &-name {
    @media (max-width: 528px) {
      font-size: 1.1rem;
    }
  }

  &-feat {
    .address,
    .rooms,
    .cost {
      @media (max-width: 528px) {
        font-size: 0.9rem;
        font-family: var(--pr-font-family);
      }
    }
  }
}

.reviewer {
  &_name {
    @media (max-width: 528px) {
      font-size: 1rem;
    }
  }

  &_city {
    @media (max-width: 528px) {
      font-size: 0.7rem;
    }
  }

  &_text {
    @media (max-width: 528px) {
      font-size: 0.8rem;
    }
  }
}

///Media query for >500px <800px ***************************************

//navbar section typography

.nav-logo {
  @media (min-width: 701px) and (max-width: 1000px) {
    font-size: 1.1rem;
  }
}

.login,
.join {
  @media (min-width: 701px) and (max-width: 1000px) {
    font-size: 0.7rem;
  }
}

//Footer mediaQuery for <500px
.footer .other-footer {
  &-links {
    @media (min-width: 701px) and (max-width: 1000px) {
      font-size: 0.9rem;
    }
    &-logo {
      font-size: 1.1rem;
    }
  }

  &-list-heading {
    @media (min-width: 701px) and (max-width: 1000px) {
      font-size: 1.1rem;
      font-weight: lighter;
    }
  }
}

//Repeating Headings styling
.primary_heading {
  @media (min-width: 701px) and (max-width: 1000px) {
    font-size: 1.3rem;
  }
}

.secondary-heading {
  @media (min-width: 701px) and (max-width: 1000px) {
    font-size: 0.8rem;
  }
}

//index page typography
.hero {
  &_heading {
    @media (min-width: 701px) and (max-width: 1000px) {
      font-size: 2.3rem;
      // border: 2px solid yellow;
    }
  }

  &_desc {
    @media (min-width: 701px) and (max-width: 1000px) {
      font-size: 1rem;
    }
  }
}

.services {
  &-heading {
    @media (min-width: 701px) and (max-width: 1000px) {
      font-size: 0.95rem;
    }
  }
}

.space {
  &-name {
    @media (min-width: 701px) and (max-width: 1000px) {
      font-size: 1rem;
    }
  }

  &-feat {
    .address,
    .rooms,
    .cost {
      @media (min-width: 701px) and (max-width: 1000px) {
        font-size: 0.9rem;
        font-family: var(--pr-font-family);
      }
    }
  }
}

.reviewer {
  &_name {
    @media (min-width: 701px) and (max-width: 1400px) {
      font-size: 1.1rem;
    }
  }

  &_city {
    @media (min-width: 701px) and (max-width: 1400px) {
      font-size: 0.8rem;
    }
  }

  &_text {
    @media (min-width: 701px) and (max-width: 1400px) {
      font-size: 0.85rem;
    }
  }
}

///Media query for >500px <800px ***************************************

//navbar section typography

.nav-logo {
  @media (min-width: 531px) and (max-width: 1000px) {
    font-size: 1.2rem;
  }
}

.login,
.join {
  @media (min-width: 531px) and (max-width: 1000px) {
    font-size: 0.7rem;
  }
}

//Footer mediaQuery for <500px
.footer,
.other-footer {
  &-links {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 0.9rem;
    }
    &-logo {
      font-size: 1.1rem;
    }
  }

  &-list-heading {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 1.1rem;
      font-weight: lighter;
    }
  }
}

//Repeating Headings styling
.primary_heading {
  @media (min-width: 531px) and (max-width: 1000px) {
    font-size: 1.3rem;
  }
}

.secondary-heading {
  @media (min-width: 531px) and (max-width: 1000px) {
    font-size: 0.8rem;
  }
}

//index page typography
.hero {
  &_heading {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 2.4rem;
      // border: 2px solid yellow;
    }
  }

  &_desc {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 1.2rem;
      font-weight: lighter;
    }
  }
}

.services {
  &-heading {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 0.9rem;
    }
  }
}

.space {
  &-name {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 1rem;
    }
  }

  &-feat {
    .address,
    .rooms,
    .cost {
      @media (min-width: 531px) and (max-width: 1000px) {
        font-size: 0.9rem;
        font-family: var(--pr-font-family);
      }
    }
  }
}

.reviewer {
  &_name {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 1.1rem;
    }
  }

  &_city {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 0.8rem;
    }
  }

  &_text {
    @media (min-width: 531px) and (max-width: 1000px) {
      font-size: 0.85rem;
    }
  }
}

///Media query for >1000px ***************************************

//navbar section typography

.nav-logo {
  @media (min-width: 1002px) {
    font-size: 1.2rem;
  }
}

.login,
.join {
  @media (min-width: 1002px) {
    font-size: 0.8rem;
  }
}

//Footer mediaQuery for <500px
.footer,
.other-footer {
  &-links {
    @media (min-width: 1002px) {
      font-size: 0.9rem;
    }
    &-logo {
      font-size: 1.1rem;
    }
  }

  &-list-heading {
    @media (min-width: 1002px) {
      font-size: 1.1rem;
      font-weight: lighter;
    }
  }
}

//Repeating Headings styling
.primary_heading {
  @media (min-width: 1002px) {
    font-size: 1.2rem;
  }
}

.secondary-heading {
  @media (min-width: 1002px) {
    font-size: 0.8rem;
  }
}

//index page typography
.hero {
  &_heading {
    @media (min-width: 1002px) {
      font-size: 3.2rem;
      // border: 2px solid yellow;
    }
  }

  &_desc {
    @media (min-width: 1002px) {
      font-size: 1.2rem;
      font-weight: lighter;
    }
  }
}

.services {
  &-heading {
    @media (min-width: 1002px) {
      font-size: 0.9rem;
    }
  }
}

.space {
  &-name {
    @media (min-width: 1002px) {
      font-size: 1.6rem;
    }
  }

  &-feat {
    .address,
    .rooms,
    .cost {
      @media (min-width: 1002px) {
        font-size: 1rem;
        font-family: var(--pr-font-family);
      }
    }
  }
}

.reviewer {
  &_name {
    @media (min-width: 1002px) {
      font-size: 1.1rem;
    }
  }

  &_city {
    @media (min-width: 1002px) {
      font-size: 0.8rem;
    }
  }

  &_text {
    @media (min-width: 1002px) {
      font-size: 0.85rem;
    }
  }
}
