.mt--lg{
  margin-top: 2.5rem;
}
.mt--md{
  margin-top: 1.5rem;
}
.mt--sm{
  margin-top: .5rem;
}

.mb--lg{
  margin-bottom: 2.5rem;
}
.mb--md{
  margin-bottom: 1.5rem;
}
.mb--sm{
  margin-bottom: .5rem;
}
