.mt--lg {
  margin-top: 2.5rem;
}
.mt--md {
  margin-top: 1.5rem;
}
.mt--sm {
  margin-top: 0.5rem;
}

.mb--lg {
  margin-bottom: 2.5rem;
}
.mb--md {
  margin-bottom: 1.5rem;
}
.mb--sm {
  margin-bottom: 0.5rem;
}

.ml--xsm {
  margin-left: 1rem;
}
.mr--xsm {
  margin-right: 1rem;
}
.ml--sm {
  margin-left: 1rem;
}
.mr--md {
  margin-right: 1.5rem;
}

.faded {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.faded.appear {
  opacity: 1;
}
