:root{
  --background-clr: #f6f8fa;
  --link-clr: #7c859a;
  --text-clr: #141214;
  --darker-link-clr: #9da5aa;
  --features-purple-clr: #3f2fae;
  --features-blue-clr: #32589f;
  --link-hover-clr-1: #c55841;
  --link-hover-clr-2: #f78657;
  --button-clr: #5292bf;

  --border-bottom: 1.3px solid  var(--link-hover-clr-1);
  --heading-border-bottom: 1.3px solid #040b16;

  --font-family: 'Alegreya', serif;
}
